[2018-07-29 15:33] morgante opened #3 "Make ORG_ID in setup.sh more resilient"
Right now it requires users to input the ORG_ID manually, would be nice to grab it from PROJECT_ID.

See a discussion on this here: https://github.com/terraform-google-modules/terraform-google-forseti/pull/2/files/c6a9ac706fd60fc0179dfdd4870f3b54cb0aa046#r205215428

[2018-08-17 18:03] morgante opened #6 "The sendgrid variable is mandatory although it's optional in the documentation."
Sendgrid should be made truly optional.

[2018-08-17 18:06] morgante opened #7 "Remove `credentials_path` from examples and fixtures"
Currently, the module requires passing a path to a Service Account key as an argument. This can make it harder to run as part of a pipeline where (a) an environment variable is used to track the file location (b) the application default credentials on a GCE VM should be used.

[2018-08-17 18:09] morgante commented on #6
Can anyone who has encountered this comment on what observed result is? It *should* be possible to leave the variable off entirely and simply use the (empty) default: https://github.com/terraform-google-modules/terraform-google-forseti/blob/master/examples/simple/variables.tf#L19

[2018-08-17 18:10] morgante commented on #7
Regarding scenario (a), if you are exporting the credential path to an environment variable as part of a CI pipeline this is possible to do with the module today. As follows:

1. Declare a variable for your credentials path and use it in the module config:

[code]

2. Then, this variable can be populated using an [environment variable](https://www.terraform.io/docs/configuration/environment-variab

[2018-08-22 17:58] morgante commented on #6
@johnrevans6 That looks like the issue, can we add a default?

[2018-08-22 18:53] #6 closed

[2018-08-27 20:05] ocervell opened #10 "Deployment Manager dependency"
The DM dependency looks weird to me knowing that DM is just another provisioning tool like Terraform.

Should we move provisioning of Forseti resources from Deployment Manager to native Terraform resources (e.g: CloudSQL instance, database, VMs and service accounts) instead of relying on the existing deployment manager scripts ?

[2018-08-28 19:10] morgante commented on #10
That is indeed on our roadmap to do. @johnrevans6 is working on it.

[2018-09-18 03:56] Jberlinsky opened #11 "Error when attempting installation"
When attempting to configure Forseti as follows:

[code]

I receive an error message as follows:

[code]

At a very quick glance, it looks like [this line](https://github.com/GoogleCloudPlatform/forseti-security/blob/stable/install/gcp/installer/forseti_server_installer.py#L360) is trying to collect data from STDIN, which `null_resource.execute_forseti` is passing as a CLI flag. It looks like this

[2018-09-19 17:10] johnrevans6 commented on #11
Yeah, this looks Forseti related. What branch did you check this out from? I'm working on some improvements to both Forseti and the Forseti module, but no eta on that.

[2018-09-21 20:21] ocervell commented on #10
@johnrevans6 Any updates ? I'm willing to help on this if needed.

[2018-09-24 15:09] lbastet commented on #11
Hi! I had make some changes if you want you can check and use it:
https://github.com/lbastet/terraform-google-forseti/tree/changes
I have asked for a pull request

[2018-10-23 15:12] morgante opened #15 "Make source_ranges configurable"
https://github.com/terraform-google-modules/terraform-google-forseti/pull/14#discussion_r225728511

[2018-10-23 15:13] morgante opened #16 "Make disk_type configurable"
https://github.com/terraform-google-modules/terraform-google-forseti/pull/14#discussion_r225728951

[2018-10-24 15:39] ocervell opened #17 "Make Forseti user directory and path configurable"
We need to:
* make the `USER=ubuntu` configurable in startup scripts.
* make Forseti's path configurable (atm. hardcoded to `/home/ubuntu/forseti-security`).
* See [#14 comment](https://github.com/terraform-google-modules/terraform-google-forseti/pull/14/files/98043cc4fa661e31c65434ea650f5fdea47dc593#r225727500)

Users should be able to choose their own user on their VM, and change the path where

[2018-10-24 16:28] ocervell opened #18 "More validation and choices for regions / zones"
cf:
* [#14 (comment)](https://github.com/terraform-google-modules/terraform-google-forseti/pull/14/files/98043cc4fa661e31c65434ea650f5fdea47dc593#r225730131)
* [#14 (comment 2)](https://github.com/terraform-google-modules/terraform-google-forseti/pull/14/files/98043cc4fa661e31c65434ea650f5fdea47dc593#r225724635)

[2018-10-24 19:56] ocervell commented on #10
Fixed by #14

[2018-11-07 16:40] menendezjaume opened #20 "accScript.sh in the wrong location"
The main.tf file is expecting the accScript.sh file in the scripts folder:

` 37         launch_first		     = "sh scripts/accScript.sh ${var.gsuite_admin_email}; "`

And at the moment, the accScript.sh file is in the root folder:

[code]

[2018-11-07 16:46] menendezjaume opened #21 "Removing binding at service account creation"
The setup helper (/helpers/setup.sh), in line 86 has a _remove iam policy binding_ for a newly created service account, which didn't have that policy in the first place, This causes the script to complain that the service account doesn't have the relevant permissions. I believe it should be replaced by an add like all the other bindings in the file:

[code]

[2018-11-28 11:45] menendezjaume opened #23 "Error granting roles on tf helper"
The tf helper doesn't grant the appropriate roles in the following sections:

https://github.com/terraform-google-modules/terraform-google-forseti/blob/b7f70a6b63a894ea60ab73834e8b02ed58b260c0/helpers/forseti-setup.tf#L48-L52

https://github.com/terraform-google-modules/terraform-google-forseti/blob/b7f70a6b63a894ea60ab73834e8b02ed58b260c0/helpers/forseti-setup.tf#L54-L58

[2018-12-10 23:51] cleibl opened #24 "accScript.sh SED does not work with Mac"
The accScript.sh uses the GNU version of sed.  If running this on a Mac, the apply will fail due to the default sed is a different (BSD) flavor.

A quick workaround is to install gsed using 'brew install gnu-sed' and updating the accScript to use the gsed command instead of sed

The README.md should be updated to reflect this

[2018-12-11 18:32] adrienthebo opened #25 "Add test-kitchen coverage for Forseti client"
We should add test coverage on the forseti client VM to verify that Forseti can produce scans:

- `forseti config show` works and points to the correct server address and port
- `forseti inventory create` can generate an inventory
- `forseti scanner run` can run successfully

This issue applies to https://github.com/terraform-google-modules/terraform-google-forseti/pull/14.

[2018-12-11 18:36] adrienthebo opened #26 "Require that `org_id` or `folder_id` is set"
We should add validation that either `org_id` is set or `folder_id` is set, and fail early otherwise.

This issue is based on https://github.com/terraform-google-modules/terraform-google-forseti/pull/14#discussion_r237283807.

[2018-12-11 18:38] adrienthebo opened #27 "Remove extraneous VM labels"
The client and server VM have the `goog-dm` labels, which appear to be an artifact from the Deployment Manager based approach used in the v1 release of this module. We should remove them.

See https://github.com/terraform-google-modules/terraform-google-forseti/pull/14#discussion_r237286561

[2019-01-03 23:24] morgante commented on #20
Fixed

[2019-01-03 23:24] #20 closed

[2019-01-04 14:54] morgante opened #28 "Reduce privileges"
https://github.com/GoogleCloudPlatform/forseti-security/pull/2395

[2019-01-07 22:51] julianvmodesto opened #29 "Make GCP CSCC configurable"
Users should be able to enable and configure the GCS bucket for the GCP Cloud Security Command Center (CSCC) violations.

[code]

[2019-01-17 22:40] marko7460 opened #31 "Make forseti server/client private"
Some deployments might require forseti server access to be only through private IP. It would be good if the server can be created without `access_config` parameter for these cases. This can be controlled via `private_server` or `private_client` variable

[2019-02-11 20:23] Red-Five opened #49 "Feature Request: Forseti Deployment to GKE"
There is a Proof of Concept hosting Forseti on GKE (targeted for v2.13 release)

Ref. https://github.com/GoogleCloudPlatform/forseti-security/issues/2162#issuecomment-460855891

Anyone with terraform experience willing to PoC a deployment to GKE?

It would be a matter of replacing the client and server vm deployment sections with the GKE deployment
and possibly tweaking firewall rules to ensure it

[2019-02-12 00:49] morgante commented on #49
Terraform is not necessarily the best tool for deploying containers into k8s, but if we were to implement this it should likely be done as a submodule (without sharing the VM logic from the main module).

[2019-02-13 00:16] rx007 opened #51 "Startup scripts failed to get executed on a fresh deployment"
# Startup scripts failed to get executed on a fresh deployment

Created a default terraform plan and all went well, 71 resources created, and no errors but when I login to the server/client, there's no forseti service nor forseti_security directory under /home/ubuntu or anywhere. Is this related to this bug? https://stackoverflow.com/questions/50422205/gce-startup-script-fails-to-run-on-ubuntu-18-

[2019-02-13 21:43] adrienthebo commented on #25
Resolved in a283069

[2019-02-13 21:43] #25 closed

[2019-02-13 21:55] adrienthebo commented on #51
I believe that you ran into the issue solved in https://github.com/terraform-google-modules/terraform-google-forseti/commit/89df50062e57e80be18fab93147f57ca5bd04a19, could you change your source to "github.com/terraform-google-modules/terraform-google-forseti?ref=e44d8b5" ? That's the latest commit on master and should address your issue.

[2019-02-14 02:09] mitsuo0114 opened #52 "Client Firewall rule difference with original Forseti"
Hi, I have found firewall difference between this terraform installation and original forseti source.
Original source have firewall rules which are named "forset-client-allow-ssh-external" and "forseti-client-deny-all". But this terraform plugin doesn't have.

https://github.com/terraform-google-modules/terraform-google-forseti/blob/master/modules/client/main.tf

https://github.com/GoogleCloudPlat

[2019-02-15 02:13] rx007 commented on #51
@adrienthebo Thanks so much! That fixed it so closing this issue.

Cheers,

Rex

[2019-02-15 02:13] #51 closed

[2019-02-15 21:20] #29 closed

[2019-02-26 23:54] adrienthebo commented on #52
The absence of these firewall rules was a bug; we've added those rules to the Forseti client module today: https://github.com/terraform-google-modules/terraform-google-forseti/blob/master/modules/client/main.tf#L107-L147

Could you try out the latest revision of this code and see if it addresses your concern?

[2019-02-26 23:55] adrienthebo commented on #27
Removed in def5f6219bd1a0e0e987f4288631a024a04009ba.

[2019-02-26 23:55] #27 closed

[2019-02-26 23:57] adrienthebo commented on #24
The reference to `accScript.sh` was removed in the Forseti v1.0 release (f34744fa336e08836064b14073858773606a795c), this issue should be resolved. @cleibl could you try out the latest version of this module and see if your issue has been resolved?

[2019-02-27 00:00] adrienthebo commented on #23
We dropped the `helpers/forseti-setup.tf` Terraform configuration in the v1.0 release of this module; in addition to the issues that you mentioned that configuration had bugs around managing IAM bindings vs members, and so on. Because of this we decided to drop this in favor of the `scripts/setup.sh`. Having a Terraform based setup configuration would be nicer than a shell script but we have no im

[2019-02-27 00:02] adrienthebo commented on #15
This has been added in adc32ff17400e6ddb6abcb97d17480399f494839. We're going to rename the variable to disambiguate which firewall rule it applies to in an upcoming pull request, but as it stands this functionality has been exposed.

[2019-02-27 00:02] #15 closed

[2019-02-27 00:04] adrienthebo commented on #11
This module has been rewritten from the ground up to drop the Deployment Manager dependency and we're now targeting v2.11. Because so much of the module has been changed and we're not calling into the code in question I'm going to venture that this issue has been resolved. If this is still an issue please comment on this pull request and I can reopen it to resume this conversation.

[2019-02-27 00:04] #11 closed

[2019-02-27 00:06] adrienthebo commented on #7
The Forseti v1.0 rewrite appears to have dropped the requirements for a `credentials_file_path` variable in f34744fa336e08836064b14073858773606a795c. We still reference the `credentials_path` in the examples; we should drop that configuration in favor of Application Default Credentials.

[2019-02-27 00:09] adrienthebo commented on #21
Thanks for catching this, it looks like we resolved this typo in 31b12194c7b4153cb8f3ce7a422bd058381734cd. Since it looks like this issue was resolved I'm going to close out this issue; if this is still a problem please comment on this pull request and we can continue this conversation.

[2019-02-27 00:09] #21 closed

[2019-02-28 21:14] julianvmodesto opened #68 "Add CSCC findings IAM role"
If CSCC is configured, then the Forseti server service account needs the org role binding `roles/securitycenter.findingsEditor`.

Currently, users will have to create this IAM binding outside of the module with:

[code]

[2019-03-05 15:28] #24 closed

[2019-03-07 07:34] mitsuo0114 commented on #52
Thanks, understood!
sorry I cannot take time to try it now but let me find..

by the way, sorry to have not good word "intentional", I don't have any intention to blame anything but just confirm any background.

Thanks and Regards,

[2019-03-15 04:49] TaylorMutch commented on #49
I think it would be cool to instead see an official Helm chart - Terraform isn't super great at Kubernetes deployments.

[2019-03-15 16:31] Red-Five commented on #49
Closing this issue based on feedback provided.

[2019-03-15 16:31] #49 closed

[2019-03-19 23:34] adrienthebo commented on #68
This seems like a reasonable fix to make. Is it appropriate to always add this IAM permission or should it be set if the the [`enable_write`](https://github.com/terraform-google-modules/terraform-google-forseti/blob/master/variables.tf#L643) variable is set?

[2019-03-20 03:22] julianvmodesto commented on #68
Always appropriate, IMO

[2019-03-27 16:52] joecheuk opened #94 "Adding /tmp/deployment.log to the server VM"
to track the initialization of the VM (startup script output)

[2019-03-27 16:54] joecheuk opened #95 "Allow VM restart to pick up patches"
e.g. v.2.13.0 -> v2.13.1

patches are mainly for bug fixes so auto pickup would be more user friendly

[2019-03-27 16:56] morgante commented on #95
I'm not convinced that this sort of auto-patching functionality is a good idea. For one thing, it violates a basic idea of immutable infrastructure.

Instead we should simply release a new patch version of the module.

Note that Terraform allows flexible [version constraints](https://www.terraform.io/docs/configuration/modules.html#module-versions) so users *can* declare they want the latest patch

[2019-04-02 17:39] tmc opened #101 "Expose project as an output."

[2019-04-02 20:34] adrienthebo commented on #94
The startup script writes logs to the system journal, so we're already storing this information for later use. Is there value in writing an additional log file that we don't get by logging to the system journal?

[2019-04-02 21:00] adrienthebo commented on #17
Note that as of Forseti v2.14 it looks like the forseti home directory is hardcoded to be `/home/ubuntu`: https://github.com/GoogleCloudPlatform/forseti-security/blob/854004e960fea4d92697c5a3ee95bd069b8aef2c/install/gcp/scripts/initialize_forseti_services.sh#L43

[2019-04-02 22:12] hshin-g opened #104 "Add composite root"
Add in functionality of composite root found here: https://github.com/GoogleCloudPlatform/forseti-security/pull/2596

Deployment Manager Forseti Installer will install Forseti using composite root with extra flag
`--composite-root-resources="projects/project_id"`

Need to manage new IAM roles and change the server configuration:
If a user has project owner role for project A, they should be able t

[2019-04-05 23:49] hshin-g commented on #104
Addressed with PR #122

[2019-04-05 23:49] #104 closed

[2019-04-16 16:21] ocervell opened #128 "Change list default for composite_root_resources"
@adrienthebo [this](https://github.com/terraform-google-modules/terraform-google-forseti/commit/bd9b70bf0a8cbd8ac0ee83c95c0a3b33a5350141) commit introduced a bug which makes the `root_resource_id` set to `""` instead of `organizations/<ORG_ID>` because the default value is `[""]` and thus has 1 element.

We need to change the default value to `[]` instead.

[2019-04-16 16:23] ocervell opened #129 "Changing server attributes doesn't update server IP in the client config"
When modifying something on the server VM (such as the server region) - this triggers delete / create of the server VM but doesn't change the `server_ip` in the client config. This makes the client time out when running Forseti command as it's trying to contact the old server IP.

[2019-04-16 19:53] julianvmodesto opened #130 "Add Slack config for all resource notifiers"
Currently, only specific notifiers like IAM and KMS have Slack as a configuration option for notifications.

[2019-04-17 18:04] bkgold opened #132 ""suffix" is not a valid output for module "forseti-install""
The output variable for the random-hash suffix does not appear to resolve correctly.

I see the suffix as an output in outputs.tf:

[code]

However, when I try to reference it from my forseti-install module via `${module.forseti-install.suffix}`I get:

[code]

[2019-04-17 18:30] morgante commented on #132
Can you share your Terraform config?

[2019-04-17 20:14] bkgold commented on #132
[code]

[2019-04-17 21:22] morgante commented on #132
Looks like you're using the 1.3 version, which didn't have the suffix output. Try upgrading the module version to 1.4 and see if that fixes the issue.

[2019-04-17 21:32] bkgold commented on #132
Yes, this worked! Thank you. I hadn't realised there was a new version.

[2019-04-17 21:34] #132 closed

[2019-04-18 22:15] #68 closed

[2019-04-19 10:11] #128 closed

[2019-04-23 14:48] TaylorMutch opened #135 "Supported OS in module?"
Is Debian the only supported distribution? The default image being used appears to be Ubuntu 18.04 rather than Debian, but the description of the variable seems to suggest otherwise - https://github.com/terraform-google-modules/terraform-google-forseti/blob/master/variables.tf#L73

[2019-04-24 15:50] jbcraig opened #138 "Forseti project needs groupssettings.googleapis.com api enabled"
Did a fresh install using v1.4.1 and inventory complained about not having groupssettings.googleapis.com enabled.

[2019-04-24 19:33] #138 closed

[2019-04-24 19:38] morgante commented on #135
I believe only Ubuntu is supported, #139 added to clarify.

[2019-04-24 19:59] #135 closed

[2019-04-25 10:14] ocervell opened #140 "org_id should be optional"
When passing `folder_id` without `org_id`, we should be able to create a Forseti that:

* Scans only the folder identified by `folder_id` (already done with `root_resource_id`)
* Only grants permissions on the folder level

Currently, when passing both flags, **all** the organization-level roles are still granted (most are not needed since Forseti will be bound to a folder). This can be a blocker

[2019-04-25 10:46] ocervell opened #141 "Remove Organization Admin as a requirement"
`Organization Administrator` is a role that can potentially be very destructive.

We need to identify a subset of permissions that are really needed to create Forseti, and possibly help create a custom role that might have **only** those permissions (in case users are not comfortable with granting the wider role).

So far, we've identified that the `Organization Administrator` role can be replaced

[2019-04-25 12:47] ocervell opened #142 "CSCC API + Role Enablement"
If `cscc_violations_enabled` is set to `"true"`, then maybe we should:

* Enable the Cloud Command Security Center API (`securitycenter.googleapis.com`) in the Forseti project
* Grant the `roles/securityCenter.editor` role to the Forseti server service account

Those are two manual steps that are still required when setting up the integration.

[2019-04-25 12:56] ocervell opened #143 "Firewall rule should be more restrictive"
The Forseti server TCP rule currently allows any VM in the network to make gRPC calls to the server (allowed range is the ip range for the subnetwork where Forseti is deployed): we can limit that firewall rule to have the forseti-client service account as the source; since only the client VM will make gRPC calls to the server VM.

[2019-05-06 20:09] aaron-lane commented on #52
@mitsuo0114 has your issue been resolved?

[2019-05-07 03:16] mitsuo0114 commented on #52
@aaron-lane  Really sorry for my delay.
I could confirmed the firewall rules are appeneded with latest version "1.4.2".

Log :

Thank you!

[2019-05-07 06:32] #52 closed

[2019-05-07 14:29] umairidris commented on #140
As a follow up to the request, I would like the module to also have the option to just install Forseti in the host project (and let the user manually grant access to other resources as needed).

[2019-05-07 23:42] #31 closed

[2019-05-08 17:14] #23 closed

[2019-05-08 17:16] #94 closed

[2019-05-09 10:01] BobcatProgrammer opened #146 "Input Parameter cloudsql_db_name not respected in cloudsql"
Hi guys,

I used the input variable
`cloudsql_db_name  = "my-custom-db-name"`
to change the db name that gets used. This gets configured correctly in the settings and startup script for the server, especially here:
https://github.com/forseti-security/terraform-google-forseti/blob/065c03c6d9e8aaf3142e29bf02ace11e8cbc978d/modules/server/templates/scripts/forseti-server/forseti_env.sh.tpl#L3

But it

[2019-05-09 14:05] ocervell opened #147 "Changing rule config should not destroy/recreate server VM"
`depends_on` on `module.server_rules` for the server VM means everytime a user changes a rule file (frequent when starting with Forseti), the whole VM gets re-created.

There is no need for this: ideally what should happen is that we run `gsutil cp -R <BUCKET>/rules <FORSETI_HOME>/rules` and then `forseti server configuration reload`. Simplier, we can just restart the server VM so that the startup

[2019-05-09 14:28] ocervell opened #148 "Terraform destroy fails on google_sql_user"
I ran into an error while running `tf destroy` on a simple Forseti deployment:

[code]

Another `tf destroy` afterwards also gave me some weird errors:

[code]

[2019-05-09 16:26] morgante commented on #146
Good catch, yes a PR would be appreciated. Thanks!

[2019-05-09 18:12] aaron-lane opened #150 "Document requirements of examples"
Similar to the README of the root module, the READMEs of the example modules should define the required permissions and APIs.

[2019-05-14 19:08] Ian-Harris opened #153 "Ignore changes to cloudsql disk size"
The cloudsql instance which is created in module.forseti.module.server.google_sql_database_instance.master has disk_autoresize: "true".  This is all well and good.  However this means that future `terraform apply`s attempt to delete and recreate the database in order to return the disk size to the original 25GB.  This is both i) quite destructive and ii) doomed to failure because of GCP's soft del

[2019-05-15 00:52] callppatel opened #154 "Config Validator Port Firewall Rule"
Currently we have only this firewall rule which opens the port of 50051, but Config Validator server use the port 50052. Please add firewall rule to open 50052 as well.

resource "google_compute_firewall" "forseti-server-allow-grpc" {
  name                    = "forseti-server-allow-grpc-${local.random_hash}"
  project                 = "${local.network_project}"
  network                 = "${va

[2019-05-15 14:57] agold-rh commented on #101
I'll take a look at this one.

[2019-05-15 16:31] bmenasha commented on #130
There are 480 variables in this module.

I don't see the point of adding more.  Why can't we just accept that the yaml file is part of the install process and needs to be supplied in the install and it's best to direct the user to modify the server config yaml like any other config file rather then this template expansion we currently do?
thanks

[2019-05-15 17:13] morgante commented on #130
@bmenasha We specifically use this because the upgrade story between Forseti versions was historically painful, with requiring manual tweaks to the config file format. The templating is an attempt to work around that by generating the config value from known inputs.

[2019-05-15 19:21] angstwad commented on #142
I got it

[2019-05-15 19:25] angstwad commented on #142
Should grant `roles/securitycenter.findingsEditor` to server service acct

[2019-05-15 21:34] morgante commented on #142
@angstwad I believe the role part also needs to be added.

[2019-05-15 22:06] angstwad commented on #142
@morgante it was added in https://github.com/forseti-security/terraform-google-forseti/commit/a3af880fe489f763af36d9a73420fa4a3c343788

[2019-05-16 14:15] bmenasha commented on #130
thanks @morgante that makes sense.  I added a new variable  `violations_slack_webhook` which will configure the slack notification webhook for all notifiers with this PR https://github.com/forseti-security/terraform-google-forseti/pull/160#partial-pull-merging
thanks

[2019-05-16 15:07] #142 closed

[2019-05-16 18:15] ocervell opened #161 "Email notifications should be optional"
Systematically adding the email_violation block to each notifier makes Forseti's `forseti notifiers run` fail if `sendgrid_api_key` is not set to a valid key.

Email notifications should stay optional and only enabled if `sendgrid_api_key` is not empty.

[2019-05-19 23:59] aaron-lane commented on #154
Fixed by #155.

[2019-05-19 23:59] #154 closed

[2019-05-20 00:09] aaron-lane commented on #148
This seems to be an issue with the provider as the [host parameter is optional](https://www.terraform.io/docs/providers/google/r/sql_user.html#host) and this error only occurs on destroy. From what I've gleaned in the CI logs, this only occurs when the `google_sql_database` is destroyed before the `google_sql_user`, though I have been unsuccessful in enforcing an explicit dependency from the user

[2019-05-20 00:12] aaron-lane opened #165 "Resources remain after `kitchen destroy` fails in pipeline"
#159 ignores errors during `kitchen destroy` to work around #148, but this means that some resources are not being cleaned up by the pipeline. We will need to explicitly clean those resources separately until #148 is fixed.

[2019-05-21 01:53] #26 closed

[2019-05-29 17:04] kevensen opened #169 "Update Module to Support GKE"
In order to support deploying forseti-security on GKE, this module should deploy a GKE cluster.  It should have the following features.

1. Deploy forseti-security via Helm
2. If the user already has a GKE cluster they want to use, don't deploy a new GKE cluster, and don't deploy a server VM
3. If the user doesn't have a GKE cluster, deploy a GKE cluster with hardening best practices, and don't de

[2019-05-29 17:14] morgante commented on #169
If we pursue this, it should be done as a submodule.

However, I'm not quite sure what value does having Terraform orchestrate the creation provide over simply deploying the Helm chart

[2019-05-29 17:23] kevensen commented on #169
After further consideration, it may be enough to provide an alternative "main.tf".  Saying if you want to deploy this on gke, use the [GKE CFT module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine).  Then add the [Helm Release](https://www.terraform.io/docs/providers/helm/release.html) resource to your main.tf

[2019-05-29 17:26] RexBelli commented on #169
I've been talking with @kevensen, I'd like to take this on.  If someone can assign this issue to me, that'd be great.

[2019-05-29 17:37] kevensen commented on #169
@morgante Terraform would create the GKE cluster.  The Helm chart will deploy forseti-security on GKE.

[2019-05-29 17:38] morgante commented on #169
Definitely, if you're deploying to GKE you don't need a server VM. I can see the value in an alternative submodule which doesn't include that but does include the Helm Release.

[2019-05-29 17:40] kevensen commented on #169
Gotcha.  I need to understand submodules better.

[2019-05-29 19:49] aaron-lane commented on #169
@kevensen They're also referred to as "nested modules" in the [Standard Module Structure article](https://www.terraform.io/docs/modules/index.html#standard-module-structure). Their behaviour is completely arbitrary, but they're generally used provide composable units of related resources or alternative implementations of the root module.

[2019-05-29 20:16] kevensen commented on #169
@aaron-lane Thanks for the info!  I'll look into it.

[2019-06-02 22:50] RexBelli opened #172 "Terraform 0.12.x"
It looks like the [new version](https://www.terraform.io/upgrade-guides/0-12.html) of Terraform made some breaking changes to the syntax.  Indeed when I tried to use this module with the new version, I quickly ran into errors I wasn't sure how to resolve.

I ran the included migration tool (I committed the results [here](https://github.com/RexBelli/terraform-google-forseti/commit/98108b67042ce92c2

[2019-06-03 13:25] ocervell opened #173 "Enable object Versioning on Config and Rule Buckets"
See https://github.com/forseti-security/forseti-security/issues/2577

[2019-06-03 17:37] morgante commented on #172
Yes, we do plan to add support in the coming few weeks but it will be a gradual process.

[2019-06-11 17:50] cleibl opened #179 "Custom Rules Workflow"
How should I handle creation of custom rules?  For example, the Service Account Key rule currently is set to 100 days in the rules module, but what if I want that to be 90?

Should I send a pull request to update this module with another variable or is there some way I can add custom rules?  Fork this repo and start my own custom module?

My ideal process would be that when a config rule changes i

[2019-06-13 12:27] kevensen commented on #169
The approach we've chosen is to place the necessary module invocations in a single main.tf.  Please let me know if there better practice.

[2019-06-13 15:29] aaron-lane commented on #179
Hi @cleibl! What you're discussing sounds like a reasonable extension to the module. Are there additional rules which you would like to customize at this point?

[2019-06-13 20:10] morgante commented on #179
I don't think this module can reasonably handle all rule changes/customizations unfortunately.

Instead, I think the minimum this module needs to do is ensure that it doesn't overwrite customized rules unexpectedly. Is that case?

In terms of automatically re-running Forseti scanners on rule changes, I quite agree/sympathize but think it's more of a core Forseti architecture discussion which I wou

[2019-06-13 20:40] morgante commented on #169
You could create a PR to provide a nested module, we certainly wouldn't require users to create a local sub-module.

[2019-06-13 22:32] kevensen commented on #169
@morgante  I am still learning Terraform best practices so I appreciate your guidance!  @RexBel, do you think we could refactor the work you've done to be a submodule?

[2019-06-14 17:14] RexBelli commented on #169
@kevensen I originally attempted to do this and ran into an issue: I could not get the GKE cluster to be conditional.

My approach was to use the `count` parameter on any resource that needed to be conditional.  I found [Terraform modules do not support this parameter](https://github.com/hashicorp/terraform/issues/953), so I then moved to adding it to individual resources.  In this context the big

[2019-06-14 19:56] aaron-lane commented on #179
Could we provide a mechanism to allow users to override the existing rule files with their own content?

[2019-06-17 15:49] kevensen commented on #165
Oddly, I "think" this is still broken.  e.g. https://concourse.infra.cft.tips/builds/4583

[2019-06-17 20:44] morgante commented on #165
IMO we should expect `destroy` to work for unsuccessful applies.

Instead, I think we move towards ephemeral projects which we can entirely wipe after a test run.

[2019-06-18 15:18] aaron-lane commented on #165
@morgante I agree. We should move the test project configuration in to the repository to provide a consistent approach for provisioning test projects and get rid of this mess.

[2019-06-18 16:53] aaron-lane opened #183 "Update CI pipeline to use ephemeral projects"
Related to #165 and #148.

The current CI pipeline experiences consistent failures unrelated to changes being tested. Stale resources leftover in the test projects are a large part of this problem.

The CI pipeline should be updated to create a new project for each build. This will involve migrating the existing test fixture code from https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit

[2019-06-18 22:04] hshin-g opened #572 "Bigquery commandline query produces SSLHandshakeError"
The following error is produced when running Bigquery command line queries: ```SSLHandshakeError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed```

Resolve this by updating the gcloud version, which is currently set to 212 by updating the startup script:
[code]

@blueandgold

[2019-06-21 17:17] hshin-g commented on #172
+1 to this as Cloud Shell comes with Terraform v0.12.2.

[2019-06-22 00:56] dekuhn commented on #3
There is a PR on this issue is there still more work required for this?

[2019-06-24 16:46] #3 closed

[2019-06-25 19:39] umairidris commented on #147
Note that provisioners (like local-exec etc) are often banned for security reasons, so shouldn't be required.

[2019-06-25 21:57] morgante opened #193 "Incorrect templating in Server config"
The server config has some variables which don't get properly templated.

Ex.

[code]

[2019-06-26 14:42] umairidris commented on #193
I am still seeing issues with templating despite the fix.

Error:

At line 269 I see:

In fact, none of the %{ lines seem to be parsed correctly.

"terraform_version": "0.11.14"

[2019-06-26 21:52] morgante commented on #193
@umairidris I'm unable to reproduce thus far (on `master)`. if you check the config file in the GCS bucket, does it also have the same issue?

[2019-06-27 17:57] umairidris commented on #193
After some digging this is due to an outdated template provider. The support for %{} syntax is added in v2.0. Feel free to close this, thanks!

[2019-06-27 18:00] morgante commented on #193
Thanks for catching that!

I opened https://github.com/forseti-security/terraform-google-forseti/pull/195 to track the requirement.

[2019-06-27 21:58] aaron-lane commented on #193
Fixed by #194.

[2019-06-27 21:59] morgante commented on #193
@aaron-lane Please leave this open until you have reviewed and merged #195.

[2019-06-28 18:30] #193 closed

[2019-07-02 17:32] umairidris opened #197 "Allow module to import existing Forseti installations"
Right now the user cannot import an existing installation using `terraform import`. This is due to the module adding random suffix to resources. It would be beneficial if the user could specify the resource names to the names of an existing installation, thus allowing for imports.

[2019-07-08 22:32] morgante commented on #197
I'm worried about the complexity of adding separate variables for each resource name.

Could we solve this by adding a `resource_name_suffix` input variable which would be used as the suffix on resource names (default to random)?

[2019-07-08 22:35] umairidris commented on #197
That sounds reasonable, assuming the python installer and terraform share the base resource names.

[2019-07-15 18:13] jeffmccune commented on #172
Gary and I are working on this

Acceptance Criteria:

 * [ ] CI passes in the aaron-lane-0.12 release branch PR.
 * [ ] README includes note about 0.12 support
 * [ ] README includes last release supporting 0.11
 * [ ] CHANGELOG staged and ready to release
 * [ ] Modules and providers pinned to appropriate versions for 0.12.
 * [ ] All changes reviewed and merged.

[2019-07-16 00:31] jeffmccune commented on #172
Gary and I left off trying to troubleshoot this error:

[code]

Here's the build log location.  We're sort of stumped, this may be an issue with the provider?

https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-forseti/jobs/integration-tests/builds/519#L5d1c3fba:365

[2019-07-16 16:52] jeffmccune commented on #172
@aaron-lane @ingwarr Gary and I are picking up working on the forseti lint test job, which is failing in  ~3 ways.  Once lint tests are passing we'll work on the `sourceIpRangesToNat` issue.

[2019-07-16 18:21] jeffmccune commented on #172
Lint tests are green as of 6d634ac `Fix make generate_docs for 0.12` in #202

Switching back to working on the integration tests.

[2019-07-16 23:09] jeffmccune commented on #172
@aaron-lane @ingwarr `kitchen verify simple-example-local` is passing on my local machine as of e7cc11a `Fix boolean logic error in module.server.null_resource.missing_emails for 0.12`

In CI, we're still getting the `The subnetwork is already configured with ALL_IP_RANGES` error.  See [this line](https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-forseti/jobs/integration-tests/

[2019-07-17 16:01] aaron-lane commented on #172
Great! Let's verify `shared-vpc-local` works locally and we can wrap this up.

[2019-07-17 17:26] jeffmccune opened #203 "Periodic integration test error: sourceIpRangesToNat - The subnetwork is already configured with ALL_IP_RANGES for Nat which conflicts with the specified IpRangeToNatOption options in this Nat"
I ran into the following `sourceIpRangesToNat` error while working on #172 and #202.  This may be related to #183.  This error seems to move between different test suites, we observed simple-example failing with the error, then subsequently passing.  Likewise for

[code]

Here's the build log location.  https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-forseti/jobs/integration-

[2019-07-17 18:13] jeffmccune commented on #172
@aaron-lane I verified `shared-vpc-local` as of ab6afc3 `Update make docker_run for 0.12.x`, results at https://paste.googleplex.com/5801612691898368

[2019-07-17 18:22] jeffmccune commented on #172
@aaron-lane I verified `shared-vpc-local` as of ab6afc3 `Update make docker_run for 0.12.x`, results at https://gist.github.com/jeffmccune/c2d12dca8f80c7f0eff2af06e6e96f93

[2019-07-19 14:46] aweberlopes opened #204 "kubernetes_engine_scanner does not work"
Hello Together,

I used the actuall terraform module deploy forseti.
Actually i created the SA Account with the helper scripts and deployed it with terraform version 0.11

So I tried to run the scanner on a model and both auf kubernetes engine modules give me this errors:

`}
{
  "serverMessage": "Error running scanner: KeScanner: '\''Traceback (most recent call last):\n  File \"/usr/local/lib/pyt

[2019-07-19 16:38] morgante commented on #204
I don't think this is related to the Terraform installer. Please follow one of these channels for getting help with Forseti: https://forsetisecurity.org/docs/latest/use/get-help.html

[2019-07-19 16:38] #204 closed

[2019-07-22 18:14] #172 closed

[2019-07-23 05:06] blueandgold commented on #204
I looked into this.  It's because the user's env is missing the `kubernetes_service_config` data in the db.  See screenshot below.

![image](https://user-images.githubusercontent.com/6977544/61684032-c6cadc00-accc-11e9-9bae-a965eac8745a.png)

[2019-07-23 13:27] morgante commented on #204
@blueandgold Is it related to the Terraform module? What's the fix?

[2019-07-23 15:14] kevensen commented on #148
Just FYI, I am seeing this too in v3.0.0.  I'd be happy to implement a fix with a little guidance.

[2019-07-23 22:35] morgante commented on #148
This might be a provider issue.

[2019-07-24 07:42] garrettwong opened #206 "Forseti Server VM's startup script fails to install Forseti"
`forseti` does not appear to be installed on the forseti-server-vm post-deployment.  Anyone able to reproduce this?

Hitting issues with pip vs. pip3.  After addressing that, hitting issues with setuptools.  (sudo apt-get install -y python-setuptools... which "python-setuptools" would need to be placed in installer/dependencies/apt_packages.txt)

Forseti installation is based on the following TF v

[2019-07-24 14:05] kevensen commented on #148
After investigation, I think it is a provider issue.  If I understand correctly, it has to do with the REST API actually requiring the *host* URL parameter when deleting a user.

https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/users/delete

[2019-07-24 14:13] kevensen commented on #148
On insert, the parameter is optional.

https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/users/insert

[2019-07-24 15:31] blueandgold commented on #206
@hshin-g Can you please investigate this issue?

[2019-07-24 21:09] garrettwong commented on #206
Per further evaluation and testing we've uncovered a few key callouts.  3.0.0 only appears to be compatible with terraform 12.x and does not work with terraform 11.x.    Have tested a few of the following configurations and they are noted below:

  |   | Terraform 11.x | Terraform 12.x
-- | -- | -- | --
  | TF Module | 2.3.0 | 3.0.0
Forseti Version |   |   |  
v2.15.0 |   | Success | TBD
v2.16.0 |

[2019-07-24 21:11] #206 closed

[2019-07-24 21:34] morgante commented on #206
Correct, this is noted in the module documentation [here](https://github.com/forseti-security/terraform-google-forseti#compatibility).

[2019-07-25 16:37] kevensen opened #208 "Add additional submodules to support more deployment scenarios"
It would be useful to have an option to conditionally deploy the server VM.  For example, if deploying Forseti on GKE, the server VM is an unnecessary resource.

To keep this focused, the resolution ought to be agnostic of "Forseti on GKE".

This stems from issue #169

[2019-07-25 18:10] morgante commented on #208
I'm not sure this is the right way to approach this. The main module is for a full Forseti install (including VMs). It primarily just calls submodules (see main.tf) which contain the individual resources.

Instead of conditionally deploying the server VM, we should make sure there are appropriate (shared) submodules which the GKE implementation can use for everything it *does* need. Does that make

[2019-07-25 18:16] kevensen commented on #148
Closing based on merged PR.  Please re-open if issue reappears.

[2019-07-25 18:55] kevensen commented on #208
Thanks for the feedback @morgante .  I'd like to suggest that a "full Forseti install" doesn't necessarily  include VM's if deploying on GKE.

That said, I am open to suggestions.  In this case, would we break out CloudSQL and the GCS bucket resources to submodules different from the server?

[2019-07-25 19:26] morgante commented on #208
Totally agreed. I mean that the root module is a VM-based "full Forseti install" while the GKE module can be another entrypoint for a full Forseti install (which would not include VM creation).

Precisely.

[2019-07-26 12:23] kevensen commented on #208
Gotcha.  This makes sense.  I'd like to make this fairly granular.  I think we should make a sub-module each for:

1. Server GCS bucket
2. Server IAM
3. Client GCS bucket
4. Client IAM
3. CloudSQL  instance

[2019-07-26 15:52] morgante commented on #208
That makes sense to me.

[2019-07-31 16:56] umairidris opened #212 "null_resource checks don't work in terraform 0.12"
null_resource checks like org_id_and_folder_id_are_both_empty don't seem to work anymore in Terraform 0.12. `terraform apply` continues successfully even if none of composite root resources, org id or folder id is set.

[2019-07-31 19:13] morgante opened #214 "No Forseti command available"
After installing Forseti using the [tutorial](https://github.com/forseti-security/terraform-google-forseti/pull/186), Terraform doesn't show any errors (`terraform apply` succeeds).

But when I SSH into the VM (using `gcloud compute ssh forseti-server-vm-ded1e24f`) the Forseti command is not available.

[2019-07-31 19:29] morgante commented on #214
Upon further investigation, it looks like the issue is related to not being able to reach the internet from the VMs created.

From the startup script logs:
[code]

Our current default is to launch the VMs without an external IP but this depends on customers having a NAT configured on the network. This is enterprise-friendly but potentially problematic for users who don't have that setup.

[2019-08-02 14:20] aaron-lane opened #221 "forseti-org-iam control checks for obsolete dataViewer role"
#210 removed `roles/bigquery.dataViewer` from the server roles but the `forseti-org-iam` control still asserts it should be assigned to the server service account.

[2019-08-02 14:29] aaron-lane opened #222 "real-time-enforcer-host control reports opa-policy service has failed"
https://concourse.infra.cft.tips/teams/cft/pipelines/terraform-google-forseti/jobs/integration-tests/builds/602#L5d1c4dab:297

[2019-08-12 14:10] kevensen commented on #17
@ocervell Is this feature still desired?

[2019-08-12 14:12] kevensen commented on #18
@ocervell @aaron-lane can this issue be closed?

[2019-08-12 14:13] kevensen commented on #28
@morgante with #2395 merged, can this be closed?

[2019-08-12 14:24] kevensen commented on #95
I agree with @morgante.  While automated patching can be convenient, patching of critical infrastructure should be deliberate.

@joecheuk Does this issue merit further discussion?

[2019-08-12 14:26] kevensen commented on #101
@tmc @agold-rh For documentation purposes, is there a use case?  If so, could you please note that here?

[2019-08-12 14:28] morgante commented on #28
I believe we also have to make the associated update on this module.

[2019-08-12 14:39] kevensen commented on #150
It looks like the following are missing requirements:

- examples/external_ip
- examples/install_simple
- examples/real_time_enforcer
- examples/shared_vpc
- examples/simple_example

[2019-08-12 14:42] kevensen commented on #214
@morgante is the note in #217 sufficient to address this issue?

[2019-08-12 14:44] kevensen commented on #208
Will address by Forseti 2.22

[2019-08-12 14:46] kevensen commented on #28
Gotcha.  I can tackle that.

[2019-08-12 15:14] kevensen commented on #28
@morgante, it looks like #210 addresses this.

[2019-08-12 15:22] #28 closed

[2019-08-12 15:22] morgante commented on #28
Thanks, indeed it does.

[2019-08-12 15:31] morgante commented on #214
@kevensen It would be helpful if someone else could step through the Cloud Shell tutorial and confirm they get a working install (with available Forseti commands) as well.

[2019-08-12 15:34] morgante commented on #150
I think most of the examples have the same requirements as the root module so this isn't high priority.

[2019-08-12 15:50] kevensen opened #230 "Investigate data discrepancy issue in Forseti Explainer"
Looking at IAM, a user has been removed as project/owner (in fact has no privileges, inherited or otherwise).  However, Forseti Explainer is reporting that a user does have the role/owner.

[2019-08-12 15:51] morgante commented on #230
Is this a Terraform issue?

[2019-08-12 15:51] kevensen commented on #230
Nope.  It is not.  I opened this in the wrong repository.  My apologies.

[2019-08-12 15:51] #230 closed

[2019-08-12 18:13] kevensen commented on #214
@morgante The client installation was successful.  However, it appeared that the server didn't install.  I waited for about 10 min then rebooted the VM.  It appears to work now.

[2019-08-12 18:14] morgante commented on #214
That's concerning. Could you dig further into why it didn't work the first time?

[2019-08-12 18:30] kevensen commented on #214
I am looking in the TTY logs and am seeing

[code]
Oddly that SA has the GCS Object Reader permissions.  This is the only glaring issue in the TTY logs.

[2019-08-12 18:56] kevensen commented on #214
Not seeing anything in stackdriver or the deployment log.

[2019-08-12 19:57] morgante commented on #214
I'm guessing we have a misordered dependency. Let's make sure the server VM is launched *after* the SA is granted all its appropriate roles.

[2019-08-12 22:56] morgante commented on #214
As I suspected, it looks like the server VM does not [depend on](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/main.tf#L479) the roles actually being [granted](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/main.tf#L282-L322). We need to add a dependency there.

[2019-08-14 14:25] #214 closed

[2019-08-17 23:34] snoozesecurity commented on #148
I am still experiencing this issue, just ran terraform destroy and got the following:

module.forseti.module.server.google_sql_user.root: Destroying... [id=root//forseti-server-db-string]
Error: Error, failed to deleteuser root in instance forseti-server-db-string: googleapi: Error 400: Missing parameter: host., required

[2019-08-19 11:45] morgante commented on #148
@snoozesecurity Could you file an [upstream issue](https://github.com/terraform-providers/terraform-provider-google/issues/new/choose)? This seems to be an issue in the provider.

[2019-08-19 21:25] morgante commented on #148
Notably, this also seems to be an issue if you update to a new module version which changes the `google_sql_user` resource.

[2019-08-20 20:13] morgante commented on #148
Hoping for an upstream fix: https://github.com/forseti-security/terraform-google-forseti/issues/148

[2019-08-22 13:36] mschlanser commented on #204
Error for me as well ( below ).  Any idea when this is going to be fixed?

{
  "serverMessage": "Error running scanner: KeVersionScanner: 'Traceback (most recent call last):\n  File \"/usr/local/lib/python3.6/dist-packages/forseti_security-2.18.0-py3.6.egg/google/cloud/forseti/scanner/scanner.py\", line 119, in run\n    scanner.run()\n  File \"/usr/local/lib/python3.6/dist-packages/forseti_securit

[2019-08-22 13:41] kevensen commented on #204
I think this is related to an issue in forseti-security/forseti-security

https://github.com/forseti-security/forseti-security/issues/3106

[2019-08-24 01:30] umairidris opened #234 "GCE VMs don't perform any actions when private IP is enabled"
I made two forseti installations, one with client_private and server_private set to true and one without.

The one without is functioning normally as expected. The one with private IPs correctly has no public IP on the vms, but the VMs themselves don't seem to be doing anything (including running startup scripts). The VMs are just sitting idle and no scans are being done (thus no violations are be

[2019-08-24 01:33] umairidris commented on #234
Note, it also seems like removing the client/server private fields and then running terraform apply causes 5 new resources to be created, but does not fix the problem.

[2019-08-26 06:56] ocervell commented on #234
@umairidris when enabling private IP, you'll need to set up a Cloud router + NAT to allow downloading packages from the public internet.

Here is an example with Terraform:

[code]

[2019-08-26 20:05] umairidris commented on #234
Sorry haven't had a chance to test it out yet. Will try it tomorrow.

On Mon., Aug. 26, 2019, 1:48 p.m. red2k18, <notifications@github.com> wrote:

[2019-08-27 20:56] morgante opened #236 "More verbose logging for startup scripts"
In the startup scripts, we should have more verbose logging of what each step is doing so debugging can be done more easily. As suggested [here](https://github.com/forseti-security/terraform-google-forseti/issues/234#issuecomment-525396019).

In particular, we should add a clear message/warning when internet egress failed.

[2019-08-28 14:00] ocervell commented on #234
@morgante agreed, let's add an example with the NAT

[2019-08-28 17:53] morgante opened #237 "Update testing to new approach"
As described [here](https://docs.google.com/document/d/1eiHpZlhEDMDG8gi4LHyv2aZs1TJmeFlF8sqCE57_j4A/edit#heading=h.rz8l5qn0ygc0).

[2019-08-29 17:21] gkowalski-google opened #238 "Sync Policy Library from git repo"
Add the ability for Forseti to sync the policy library from a git repo, instead of requiring users to manually update the GCS bucket with policy changes.

[2019-09-03 14:41] aaron-lane commented on #183
Fixed by #240

[2019-09-03 16:49] usgalaurent opened #242 "Installer should support specifying existing service accounts"
Installer should support specifying existing Service Accounts to be used for forseti-client and forseti-server.
Since IAM is normally delegated to a different team than the one deploying Forseti, this would reduce the number of Service Account request/approval/provisioning cycles when the individual deploying Forseti already has an account with the necessary permissions but lacks SetIAM permission

[2019-09-03 18:00] red2k18 opened #243 "Installer should support specifying existing service accounts"
Install should support specifying existing Service Accounts to be used for forseti-client and forseti-server.

Since IAM is normally delegated to a different team than the one deploying Forseti, this would reduce the number of Service Account request/approval/provisioning cycles when the individual deploying Forseti already has an account with the necessary permissions but lacks SetIAM permissions

[2019-09-04 00:46] morgante commented on #242
Duplicate of https://github.com/forseti-security/terraform-google-forseti/issues/243

[2019-09-04 00:46] #242 closed

[2019-09-04 17:13] jdyke commented on #212
Here is what I see when it errors out:

`Error: 2 problems:

- Invalid template interpolation value: Cannot include the given value in a string template: string required.
- Error running command 'echo 'composite_root_resources= org_id= folder_id=' >&2; false': exit status 1. Output: composite_root_resources= org_id= folder_id=`

[2019-09-04 18:19] jdyke commented on #212
Hi @umairidris it appears that the variable `org_id` is being set to an empty string but it needs to have a value input from the user. Can you try specifying `org_id` and re-running your plan/apply?

[2019-09-04 18:36] umairidris commented on #243
This would be very useful for us too as we have a pre-terraform forseti deployment that we want to migrate. Rather than migrating the entire installation we can just install a fresh forseti instance and re-use the service account of the old instance that already was granted necessary access.

[2019-09-06 02:35] callppatel opened #245 "Include Config Validator Service"
Looks like GKE version of Forseti is not supporting Config Validator. Is there any plan to enhance or this is exitsing bug?

[2019-09-06 02:42] morgante commented on #245
Yes, it's being worked on in #229.

[2019-09-06 02:44] callppatel commented on #245
Thank you for quick response !

[2019-09-06 09:53] securitygeneration commented on #141
I have to add my vote to @ocervell's on this point. This is a role that I normally wouldn't grant at all, and any organisation that follows the principle of least privilege (as we all should) would want to only grant Forseti the absolute minimum it needs.

I understand the role of the `Enforcer` module (and even that shouldn't need all permission), but as a primarily audit-focused solution, couldn

[2019-09-06 09:58] morgante commented on #141
@securitygeneration I think there might be a bit of confusion here.

Forseti itself does **not** need the Org Admin role to function. The (read-only) roles that Forseti needs are documented [here](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/main.tf#L64).

Org Admin is only required for the user or Service Account installing Forseti (primarily so that the

[2019-09-06 10:19] securitygeneration commented on #141
@morgante Ah yes, that does make sense, thankfully 😊  But then it strikes me that you don't necessarily need to have Org Admin to set those perms, but rather just have the ability to provide them to the service account, which could be achieved with a Custom Role.

[2019-09-06 19:42] blueandgold opened #247 "Output IAM roles that needs to be granted, so admins can review, approve, and apply."
Per ahoying@:
If an organization pushes their IAM policy as code, then the installer outputs a script to add the correct bindings.  In a perfect world, these changes can be sent as a 'proposal' to the org admin to review and approve and apply.  So we get two party approval for the change

[2019-09-07 02:52] morgante commented on #141
@securitygeneration We don't actually require that you have Org Admin. So long as you have the needed permissions, install should work.

[2019-09-10 12:00] ocervell opened #249 "Maintenance window for Cloud SQL DB"
Got a request for a customer to have the ability to have a maintenance window for Cloud SQL DB upgrades.

Context: We are adding the possibility to config-validator to check for a specific maintenance window for all Cloud SQL DBs deployed on GCP (see [PR #161](https://github.com/forseti-security/policy-library/pull/161)) and the Forseti db pops up in the violations.

Implementation can look like t

[2019-09-10 19:15] #238 closed

[2019-09-11 03:38] blueandgold opened #250 "Eliminate the need for the IAM SA keys as Kubernetes secrets"
It is a best practice not to use security key (whenever possible). But currently for Forseti on GKE, IAM service account key is obtained from GCP and added as a secret to kubernetes.

Per discussion with @kevensen, it is possible to create a dedicated Forseti nodepool in the cluster and bind the SA to the nodes, without using a key.  i.e. "taint" these nodes as described above for the sole-use of

[2019-09-11 05:18] morgante commented on #250
Instead of using a dedicated node pool, could we use workload identity? https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

[2019-09-11 14:03] gkowalski-google opened #251 "Installation fails to create Cloud SQL Instance"
Several users (Slack usernames: JFM, ck) have reported that Terraform fails to upgrade due to it attempting to recreate the Cloud SQL Instance, even though one already exists.

[code]

JFM was attempting to upgrade from 2.19 -> 2.20, and reports they have always seen this behavior. The workaround is to clear some parts of the state.

Terraform output provided by JFM: https://forsetisecurity.slack.

[2019-09-11 18:07] morgante commented on #249
This makes sense to me, happy to look at a PR.

[2019-09-13 17:22] gkowalski-google opened #252 "Expose disk type for Cloud SQL"
Allow users to set the disk type for the Cloud SQL instance, similar to how you can do this for the Forseti server.

Moved this issue from the main Forseti repo: https://github.com/forseti-security/forseti-security/issues/2591.

[2019-09-13 17:34] kevensen commented on #252
I think this may be addressed by https://github.com/forseti-security/terraform-google-forseti/pull/228.  Though it only exposes the disk size and not the type.  Default is SSD.

[2019-09-13 17:42] gkowalski-google commented on #252
Thanks! I have updated this issue to just be for the disk type.

[2019-09-13 18:56] kevensen commented on #252
The challenge I was having is that the disk type parameter for CloudSQL is an ENUM and Terraform wasn't taking that kindly.

[2019-09-13 19:23] morgante commented on #252
ENUMs are simply strings in Terraform, do you have more details?

[2019-09-13 19:49] kevensen commented on #252
No, just tragic memories.  It was probably due to my unfamiliarity with how various variable values are represented.  I'll give it another go and let you know if I have any trouble.

[2019-09-16 18:07] kevensen opened #254 "Provide a Complete Configuration for a Private Deployment of Forseti"
This purpose of this issue is to capture tasks necessary to provide a working deployment of Forseti in a private configuration.

* Private server and client: #31 and #76
* Private CloudSQL: #228

Tasks:
Create an example that includes the following:
- [x] CloudNAT
- [ ] Bastion Host
- [ ] Configures master authorized networks for GKE
- [x] Sets all the pertinent variables to private w/o user input

[2019-09-16 20:24] gkowalski-google commented on #254
Please see [Forseti Issue #3186](https://github.com/forseti-security/forseti-security/issues/3186) for some helpful information from someone trying to setup Forseti privately. There is one potential issue with the Blacklist Scanner, which attempts to download a list of blacklisted IPs. This will fail with a private deployment.

[2019-09-17 05:19] blueandgold commented on #250
Workload identity sounds like an interesting idea.  Would love to use it if it will solve not having to use a key.  @kevensen FYI

[2019-09-17 13:06] gkowalski-google commented on #234
FYI @kevensen opened [this issue](https://github.com/forseti-security/terraform-google-forseti/issues/254) to provide a working example for a private deployment of Forseti.

[2019-09-17 14:06] gkowalski-google commented on #234
I'm going to close this issue since we have #236 and #254 to address the core issues. Thanks @umairidris for creating this issue and providing the suggestions!

[2019-09-17 14:06] #234 closed

[2019-09-17 20:43] shawnk540 opened #259 "Kristinhutson"

[2019-09-17 20:50] #259 closed

[2019-09-18 18:07] kevensen commented on #250
I like that idea.  This feature is still in beta.  I'd like to make an update to the terraform-google-kubernetes-engine module.  Any concerns?

[2019-09-18 18:08] morgante commented on #250
I'm happy to look at a PR for Kubernetes.

[2019-09-18 18:09] kevensen commented on #250
Okeedokee.  I'll start there.

[2019-09-19 15:59] #197 closed

[2019-09-20 17:56] kevensen commented on #250
@morgante https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/266

[2019-09-20 18:41] morgante commented on #250
Apologies, it looks like this was already added to the GKE module: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/234

You should be able to use it directly once the next module is released: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/CHANGELOG.md#added

[2019-09-20 21:16] kevensen commented on #250
No worries.  It was good practice.  I'll look forward to the next release.

[2019-09-23 16:19] gkowalski-google commented on #251
@gkowalski-google was able to repro by running `terraform destroy` and then re-running `terraform apply`. Check with the users to see if that was the case for them.

[2019-09-23 22:57] #236 closed

[2019-09-24 09:18] ocervell opened #267 "Update on-gke examples to TF 12"
The on-gke examples are still using tf 0.11 syntax.

[2019-09-24 14:00] gkowalski-google commented on #267
Some notes I have about these examples after going through them in testing:

- Update to use the `GOOGLE_APPLICATION_CREDENTIALS` env var for credentials, and don't make `credentials_path` required.
- Update the Policy Library URL to use git protocol, e.g. `git@github.com:forseti-security/policy-library`
- The examples display warnings about the use of region being deprecated and that location sho

[2019-09-25 07:06] katze120 opened #271 "The Cloud SQL instance needs to get recreated, and will fail, during upgrade to terraform-google-forseti v4.2.0"
The Cloud SQL instance needs to get recreated, and will fail, during upgrade to terraform-google-forseti v4.2.0
I'm guessing the reason it needs recreation is that [there was major restructuring of sql sub-module in terraform-google-forseti](https://github.com/forseti-security/terraform-google-forseti/pull/228) between the 2nd last release and the latest release v2.21.0.
The recreation with the sa

[2019-09-25 14:39] kevensen commented on #271
@katze120 Thanks for raising the issue.  If you run `terraform plan` can you please identify the attributes that are triggering the change?  I don't think we "need" to create a new CloudSQL instance so I'd like to understand why Terraform does.

[2019-09-25 15:35] kevensen commented on #271
@katze120 I re-read your issue description.  No further clarification is required at this time.  We are investigating this now.

[2019-09-25 17:31] gkowalski-google commented on #271
@katze120 Thank you very much for raising this issue! Are you aware of any users who have been affected? Please let me know and I will work with them to get this resolved. The v4.2.0 module has been deleted and we are working on publishing a new minor version of the module without these breaking changes.

[2019-09-26 00:34] dekuhn opened #274 "Test Forseti Terraform upgrade from previous release of Forseti"
## Story
The current CI configuration tests new deployment only. We should have an additional CI test that performs an upgrade test as well.

## Proposed Solution

## Acceptance Criteria
- Deploy the previous minor (?) release of Forseti
- Deploy the latest/master branch of Forseti
- Verify deployment is successful (no errors) and perform Forseti smoke testing

[2019-09-26 00:34] dekuhn commented on #274
@gkowalski-google FYI

[2019-09-26 09:43] ocervell commented on #17
Yep, if we want to deploy Forseti on other OSes one day ...

[2019-09-26 09:45] #161 closed

[2019-09-26 09:48] ocervell commented on #143
Fixed by https://github.com/forseti-security/terraform-google-forseti/pull/157

[2019-09-26 09:48] #143 closed

[2019-09-26 09:53] #18 closed

[2019-09-26 16:48] #146 closed

[2019-09-26 16:48] gkowalski-google commented on #146
This issue was resolved with https://github.com/forseti-security/terraform-google-forseti/pull/151.

[2019-09-26 19:48] gkowalski-google commented on #271
Resolved by @kevensen, new [module release 4.2.1](https://github.com/forseti-security/terraform-google-forseti/releases/tag/v4.2.1).

[2019-09-26 19:48] #271 closed

[2019-09-26 20:26] gkowalski-google opened #278 "Forseti cron job is always running at the top of the hour"
## Story
The Forseti cron job to run the periodic scan every 2 hours is scheduled to run at the same time for all Terraform installations. With the Python installer, this was random. Running the periodic scan at the same time for all installations is causing some issues for the CAI export and some users might see throttling occur. This would potentially break the inventory process.

## Proposed So

[2019-09-26 20:28] morgante commented on #278
Can I ask the reason we're looking to run it at a random time?

[2019-09-26 20:39] blueandgold commented on #278
If all the deployed Forseti instances do their run at the same time, they
can be overloading the GCP services when they make the API calls.  This has
already been reported by the CAI team.

On Thu, Sep 26, 2019 at 1:28 PM Morgante Pell <notifications@github.com>
wrote:

[2019-09-26 21:43] morgante commented on #278
Got it, makes sense to me then! I'd suggest we:
- Update the variable to accept a `null` default
- If the `null` default is specified, choose a random time for the user.

[2019-09-26 23:27] gkowalski-google commented on #278
Thanks! I have updated the ticket with the story for why this change is needed along with your proposal to allow users to still specify a time, otherwise it will be random.

[2019-09-27 13:31] ingwarr opened #281 "Broken integration tests for Real-Time Enforcer"
It fails at the verify step:
![image](https://user-images.githubusercontent.com/2316547/65772803-a6dbec80-e143-11e9-9a7a-fd31921dd95d.png)

Already have image (with digest): gcr.io/cloud-foundation-cicd/cft/developer-tools:0.1.0
Updated property [core/pass_credentials_to_gsutil].
-----> Starting Kitchen (v1.24.0)
-----> Setting up <simple-example-local>...
Finished setting up <simple-example-local

[2019-09-27 15:21] morgante commented on #281
Are you planning to fix these?

[2019-09-27 16:57] dekuhn commented on #245
In the Forseti on GKE Alpha we do address support for config validator. You can find the documentation here: https://forsetisecurity.org/docs/latest/setup/forseti-on-gke.html#deploying-with-config-validator-on-gke

[2019-09-27 16:57] #245 closed

[2019-09-27 17:41] ingwarr commented on #281
@morgante Sure, we will do it

[2019-09-30 19:21] #278 closed

[2019-10-01 14:42] paulpalamarchuk opened #285 "Services `opa-policy` and `enforcer` failed to start in `real_time_enforcer` test"
`opa-server.service` and `enforcer.service` failed to start on startup during integration tests `real_time_enforcer`
![image](https://user-images.githubusercontent.com/15910313/65972591-bc6a5280-e472-11e9-90d3-8ee779cfd441.png)

[2019-10-01 17:40] gkowalski-google opened #286 "Ubuntu Security Updates are failing to install"
## Story
In some cases Forseti startup script fails to complete because an Ubuntu security update fails to install. In this case Ubuntu is fail to acquire a lock to install the package.

`
Oct  1 08:45:25 forseti-server-vm-c0366c40 startup-script: INFO startup-script: Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [608 kB]
Oct  1 08:45:30 forseti-server-vm-c0366c4

[2019-10-01 21:05] morgante commented on #285
As we told the team last week, failing tests should be temporarily disabled.

[2019-10-02 13:37] paulpalamarchuk opened #289 "Kitchen tests uses same keyfile for 2 tests: "simple_example" and "shared_vpc""
Module `bastion` generates 2 different keys for fixture modules "simple_example" and "shared_vpc", but places them to the same file `test/fixtures/bastion/tls_private_key`. That causes verification to fail for the test, that created earlier, in case tests called in one scope.

[2019-10-02 20:23] dlinares-linux commented on #286
I have reproduced the issue today and might have found something in the logs which might explain my issue:
[code]
So it looks like there is a clash between the apt-daily.service and the start-up script doing updates at the same time.

[2019-10-02 21:05] dlinares-linux commented on #286
Linking to this issue: https://github.com/GoogleCloudPlatform/compute-image-packages/issues/815
From the comments, it looks like the issue has been fixed but not yet made available to Ubuntu.

[2019-10-04 07:40] mogthesprog commented on #129
Yep, it looks like you have to run apply twice.

One way to fix this is to support providing a static server IP, which you can provision outside the module and pass in. That way the config and the server know what the server IP is every time.

[2019-10-07 17:47] kevensen opened #293 "Add Cloud Profiler switch for GCE and GKE"
cloud_profiler_enabled.
- [x] GCE
- [x] GKE

[2019-10-07 17:51] hshin-g opened #294 "Add in settings.database_flags sublist to cloudsql database instance"
Need to add in the `net_write_timeout` database flag to google_sql_database_instance. Add in variable to make editable by user, with default value as `240`.

https://www.terraform.io/docs/providers/google/r/sql_database_instance.html

Under settings: https://github.com/forseti-security/terraform-google-forseti/blob/1d2a79c3d43b6b285863dcc7595e8f0a1ec14711/modules/cloudsql/main.tf#L70, add in:
[cod

[2019-10-07 21:01] gkowalski-google opened #295 "Client Configuration is not updated when Server IP changes"
## Story
Sometimes when the Forseti Server VM is replaced, the Client configuration is not updated to use the new Forseti Server IP. I have seen cases where the Client and Server VM get replaced at the same time, but existing Client configuration still points to the old IP. To fix, users have to manually run `forseti config endpoint {SERVER_IP}:50051` from the client to fix.

## Proposed Solution

[2019-10-08 06:03] #237 closed

[2019-10-09 14:07] dlinares-linux opened #296 "CloudSQL instance is public by default and can't be set to private"
# Story
When deploying Forseti on GCE, the CloudSQL instance is public by default and there is no way to set it to private. There is no such variables as cloudsql_private (or cloudsql_disk_size) even though they appear on the documentation.
Something seems to have happened with the following commit:
[code]

# Proposed Solution
Re-introduce the ability to set the CloudSQL instance as private (and m

[2019-10-09 14:13] kevensen commented on #296
Hi @dlinares-linux.  It appears that when I rolled back the submodule, I rolled back that feature as well.  Fortunately, it will be in the next release of this Terraform module.  This should occur within the next two weeks.

[2019-10-09 19:59] gkowalski-google opened #298 "Resolve dependency for Workload Identity in IAM"
## Story
During deployment using the latest helm/Terraform changes, there was an error applying a configuration targeting the On GKE End to End example. The workload identity was not available when Terraform was attempting to bind to the service accounts: `Identity namespace does not exist`. This blocked the pods from being deployed onto the cluster. This has been seen with Kube 1.13 and 1.14.

<i

[2019-10-11 15:51] Red-Five opened #303 "Warning: "region": [DEPRECATED] Use location instead"
Running terraform-google-modules/forseti/google//examples/on_gke_end_to_end
generates various warnings

Warning: "region": [DEPRECATED] Use location instead
Warning: "zone": [DEPRECATED] Use location instead

[2019-10-11 15:58] kevensen commented on #303
Indeed it does.  This actually has to do with the terraform-google-kubernetes-engine module (https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/259).  I believe the desire is to remain explicit about the location of the GKE cluster via region and zones.

[2019-10-11 20:56] blueandgold opened #311 "Make it easy for Forseti Service Account to be Whitelisted for Orgs using VCP Service Control"
Reported by user: Forseti can get access denied if Orgs are using VPC Service Control.

However there is a way for service accounts to be whitelisted.  The terraform deployment should be updated to make it easy to whitelist the Forseti server service account.

https://cloud.google.com/access-context-manager/docs/create-access-level#members-example

[2019-10-11 21:54] Red-Five opened #305 "setup.sh IAM roles needed for gke end to end scenario"
Possibly add additional IAM roles needed for gke end to end scenario?
roles/container.admin
roles/iam.serviceAccountAdmin
roles/iam.serviceAccountKeyAdmin
roles/compute.networkAdmin
roles/resourcemanager.projectIamAdmin

[2019-10-11 21:59] Red-Five commented on #254
Bastion host no longer needed. Ref. https://cloud.google.com/iap/docs/using-tcp-forwarding

[2019-10-11 22:02] morgante commented on #254
Note a bastion host is likely still required for connecting to a private GKE cluster.

[2019-10-11 22:06] kevensen commented on #305
@Red-Five thanks for creating this issue.  Yes, this needs to be done.

Note to self - serviceAccountKeyAdmin is no longer required.

[2019-10-11 22:09] Red-Five commented on #254
Ahh :) It might be necessary to spin up a small 'admin' vm on the network in same region as cluster to be able to run kubectl (if not using master authorized network). It would not be a traditional bastion as it won't need a public endpoint.

[2019-10-11 22:10] kevensen commented on #254
@Red-Five I think it will need a public endpoint if you want to SSH to it.

[2019-10-11 22:14] Red-Five commented on #254
The SSH button on Cloud Console now works automatically with private IP only VM's via IAP.

[2019-10-11 22:16] kevensen commented on #254
Well that's neat.

[2019-10-14 15:29] kevensen commented on #208
Addressed by #284

[2019-10-14 15:29] #208 closed

[2019-10-14 15:31] kevensen commented on #296
This will be released with version 5.0.0 of this module.  I am closing for now.  Please re-open this issue or open a new issue if necessary.

[2019-10-14 15:31] #296 closed

[2019-10-14 15:31] kevensen commented on #294
Addressed by #284

[2019-10-14 15:31] #294 closed

[2019-10-14 15:33] kevensen commented on #293
Addressed by #297

[2019-10-14 15:33] #293 closed

[2019-10-14 21:37] kevensen commented on #305
Closed by #306

[2019-10-14 21:37] #305 closed

[2019-10-14 21:38] kevensen opened #310 "Migrate remaining scripts from forseti-security repo"
The following scripts should be maintained in this repo and deployed to the server GCE VM.

- [x] [forseti-security/install/gcp/scripts/initialize_forseti_services.sh](https://github.com/forseti-security/forseti-security/blob/master/install/gcp/scripts/initialize_forseti_services.sh)
- [x] [forseti-security/install/gcp/scripts/run_forseti.sh](https://github.com/forseti-security/forseti-security/bl

[2019-10-15 04:56] morgante commented on #311
We can document this, but likely cannot automate the actual whitelisting (because there's no command to *add* a service account to the whitelist, instead you must set the entire list).

[2019-10-15 16:23] blueandgold opened #312 "Add Mailjet Options to on-GKE"
PR #302 added options for mailjet feature for GCE.  These should be added to GKE version as well.

[2019-10-15 16:50] joecheuk opened #313 "Add environment variable GOGC=1000 for config validator on GKE to speed up the evaluation time."
Mirroring the change here:
https://github.com/forseti-security/forseti-security/blob/fe640e269e1871cab99be6fd796fe4de03b8f0f0/install/gcp/scripts/initialize_forseti_services.sh#L102

[2019-10-15 18:19] kevensen opened #315 "Support DB username and password in GKE"
As a user of Forseti on-GKE, I would like to be able to access the SQL DB with a user name and password in order to assert authentication to the database.

- [ ] https://github.com/forseti-security/helm-charts/issues/43
- [ ] Pass the sql_db_user to the helm_release resource
- [ ] Pass the sql_db_password to the helm_release resource

[2019-10-16 12:20] kevensen commented on #169
Addressed by #284

[2019-10-16 12:20] #169 closed

[2019-10-16 15:09] #183 closed

[2019-10-16 17:02] hshin-g opened #321 "Cloudshell Installer should use latest version and be exposed through tfvars file"
The Cloudshell Installer is currently using the syntax `~>3.0.0` which means that users would only be using version =3.0.0, <4.0.0.

Proposed change is to use '>=' instead to always pull in the latest version for users.

Additionally, the `version` should be available in the `terraform.tfvars` file so users are able to see what minimum version they are using vs. being obfuscated.

@blueandgold

[2019-10-16 17:04] morgante commented on #321
I wouldn't suggest an opened version constraint as users shouldn't be upgraded unexpectedly.

Instead, we should probably just update the installer with each major release.

[2019-10-16 19:34] blueandgold opened #322 "Change the Cloud Shell Tutorial to Be an Installer"
Instead of having people following the documentation and setup Forseti manually, the current Cloud Shell Tutorial can be leveraged as an automated installation tool that will give people a basic installation of Forseti out of the box.

![image](https://user-images.githubusercontent.com/6977544/66951730-eba2c700-f00f-11e9-91c2-aea2427d4efe.png)

- Update documentation to the describe this as an ins

[2019-10-16 23:52] blueandgold opened #323 "Fix Instruction for "Save State to GCS""
The instructions below doesn't seem to be aligned with the actual `backend.tf`.

![image](https://user-images.githubusercontent.com/6977544/66967245-279c5300-f035-11e9-8585-3ab1d86bfe31.png)

[2019-10-18 13:48] ajayakumar-jayaraj opened #325 "forseti-visualizer is not showing all the resources ."
Team , The forseti-visualizer right now is discovering only gke resource . it is not showing up any other resources like gcs , bigquery , compute etc .. Please look into it . thanks.

[2019-10-18 16:30] blueandgold opened #327 "Improve the rendering of default values in documentation"
See it here, but please fix this where as needed.
https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/on_gke/README.md

![image](https://user-images.githubusercontent.com/6977544/67111465-cdf96d00-f189-11e9-8e86-5f8a088b5915.png)

[2019-10-21 02:36] blueandgold opened #334 "Ensure Server VM & CloudSQL are Deployed Together"
For a more performant inventory, the Server VM and the CloudSQL should be deployed together in the same region.

But, in the Simple Install, the `region` value in terraform.tfvars would allow the server vm to be deployed to a different region (either as the default or as user-specified) from the cloudsql region (which is us-centra1).

Essentially, the `terraform.tfvars` of simple install needs to

[2019-10-21 14:55] gkowalski-google commented on #95
@kevensen @joecheuk Any more thought on this issue? I agree that we should not auto-patch on server restart and allow users to control the release from Terraform configuration. Can we close this?

[2019-10-21 14:57] gkowalski-google commented on #101
@tmc @agold-rh Following up, can you provide more details on the use case?

[2019-10-21 15:00] gkowalski-google commented on #334
This can be done from the [main.tf](https://github.com/forseti-security/terraform-google-forseti/blob/master/examples/install_simple/main.tf#L25) by setting `cloudsql_region` to var.region as well.

[2019-10-21 15:13] gkowalski-google commented on #321
@hshin-g @blueandgold I have updated our release docs to include this as a step, can we close this out?

[2019-10-21 15:17] gkowalski-google commented on #286
@hshin-g Can you please review the PR? I think this is a good change to make.

[2019-10-21 15:18] gkowalski-google commented on #285
@paulpalamarchuk @morgante Anything else to do here or can we close this?

[2019-10-21 15:19] gkowalski-google commented on #267
@kevensen Was this addressed with the work for GKE beta release?

[2019-10-21 15:20] gkowalski-google commented on #250
@kevensen Was this addressed with the work for the GKE beta release?

[2019-10-21 15:23] morgante commented on #285
This still needs to be fixed, currently the real-time enforcer tests are disabled: https://github.com/forseti-security/terraform-google-forseti/blob/master/.kitchen.yml#L121

[2019-10-21 15:37] gkowalski-google commented on #129
@ocervell @mogthesprog I accidentally created a [duplicate issue](https://github.com/forseti-security/terraform-google-forseti/issues/295) of this. Instead of creating a static IP, I found that we can use the internal DNS of the GCE instance. Does that solution look good? If so, then I will close this out and we will try to get this fixed with the next release.

[2019-10-21 15:44] gkowalski-google commented on #252
Closing #16 since these are the same. Some more context for this issue:

https://github.com/forseti-security/terraform-google-forseti/pull/14#discussion_r225728951

[2019-10-21 15:44] gkowalski-google commented on #16
This is a duplicate of #252.

[2019-10-21 15:44] #16 closed

[2019-10-21 15:53] kevensen commented on #95
@gkowalski-google I have no further thoughts.  Please close at your discretion.

[2019-10-21 16:58] kevensen commented on #250
Yes

[2019-10-21 16:58] #250 closed

[2019-10-21 16:59] kevensen commented on #267
Yes

[2019-10-21 17:14] #267 closed

[2019-10-21 18:14] #321 closed

[2019-10-22 00:55] dekuhn commented on #95
There is consensus we should not support this. Closing this issue.

[2019-10-22 00:55] #95 closed

[2019-10-22 05:03] blueandgold opened #335 "Remove Tracing Role"
The migration doc mentions that this role is added.  The tracing workhas not been accepted, and so this role should not be added.
[code]
https://github.com/forseti-security/terraform-google-forseti/blob/32a4d23b6b0df6c56b3845ad005986f44ff59a98/examples/migrate_forseti/tutorial.md

[2019-10-22 05:23] blueandgold opened #336 "Missing Config in forseti_conf_server.yaml After Migrating from Python Installer"
Just tried this one when migrating from 2.18 to 2.23, and the `email_connector` info is not found in the new `forseti_conf_server.yaml` file, even though it was specified in the `main.tf`.

Should also see if there are others.

![image](https://user-images.githubusercontent.com/6977544/67260652-52c9dc80-f451-11e9-8bf2-bb7fd800925a.png)

[2019-10-22 05:30] blueandgold commented on #336
No issue with the upgrade of v2.22 to v2.23.

[2019-10-22 16:33] blueandgold commented on #323
Fixed.

[2019-10-22 16:33] #323 closed

[2019-10-22 16:33] #322 closed

[2019-10-22 16:51] kevensen commented on #295
GKE will take a little more thought.  Right now, there is an annotation in the forseti-server K8s service which GKE recognizes, and tells GCP to spin up an internal or external load balancer depending on the user's choice.

https://github.com/forseti-security/helm-charts/blob/master/charts/forseti-security/templates/server/service.yaml

The internal DNS in a GCP VPC does provide DNS records for IL

[2019-10-22 18:09] blueandgold opened #338 "Finish Updating the Comments for PR #333."
Ken is OOO today.  @red2k18 will take this over and finish addressing the comments.

[2019-10-22 19:55] hshin-g commented on #336
@blueandgold If a Sendgrid API key is not provided, then that field will not populate. Refer here: https://github.com/forseti-security/terraform-google-forseti/blob/045c0987b585cc3f37710584ca5e6530bb596740/modules/server_config/templates/configs/forseti_conf_server.yaml.tpl#L281-L289

[2019-10-22 20:45] dekuhn opened #341 "Make the Options for Policy Library Sync to Be Consistent"
@blueandgold commented on [Sat Oct 19 2019](https://github.com/forseti-security/policy-library/issues/190)

On GCE, this is off by default, and needs `policy_library_sync_enabled = true` to be set.

On GKE, this is on by default, and `policy_library_sync_enabled` is not exposed to be configure-able.

Since there is a case for continued usage of GCS buckets, a couple of things need to be done:
1: `

[2019-10-22 21:00] dekuhn commented on #341
We will disable this feature on GKE by default in 2.23 release. If someone wants to use CV + Policy Library they can explicating enable this feature.

GCS sync support on GKE needs to be added. Our default out of the box behavior on GCE/GKE should be GCS Sync.

[2019-10-22 23:01] blueandgold opened #343 "Install Forseti Server/CloudSQL to Same Zone"
Currently, even when the same region is specified, the Forseti server could be installed to a different zone from the CloudSQL.  This will make a difference in inventory performance.

For 300K resources, inventory time is:

server & cloudsql in different zones: 13 minute
server & cloudsql in same zone: 12 minutes

If this difference is significant enough, we should ensure both the server and cloud

[2019-10-22 23:07] blueandgold opened #344 "Disable the Policy Library Sync on GKE until It Supports Storing on GCS"
This is a follow-up issue for #341 . So, on the 2.23 release, policy libraries are synced from git repo as a default, and does not support sync with GCS Bucket, which is inconsistent to the GCE version, and we want GCS to be the default option.  So, disable policy library sync on GKE, until it supports GCS.

[2019-10-22 23:20] #334 closed

[2019-10-23 06:23] blueandgold commented on #336
Indeed this is the cause.  After I added the customized fields, then the config shows up.

[2019-10-23 06:23] #336 closed

[2019-10-23 13:49] gkowalski-google commented on #343
This change was [previously implemented](https://github.com/forseti-security/terraform-google-forseti/pull/253), but looks like it was lost in the sub-modularization efforts. I will get this change back in this morning for the 2.23.0 release.

[2019-10-23 14:03] gkowalski-google commented on #344
Disabling the policy library sync would make CV unusable since there would be no way to provide constraints.

[2019-10-23 15:21] blueandgold commented on #344
@gkowalski-google yes, this is the side-effect of this change.

[2019-10-23 15:27] morgante commented on #344
@blueandgold I don't think we should cause a regression for GKE customers just because GCE doesn't support gir-sync yet.

[2019-10-23 15:42] kevensen commented on #344
@morgante Point of clarification.  GCE supports Git and GCS for policy-library.  GKE only supports Git.  The initial thought was that yes, customers would only be using Git so that was all that was implemented in GKE.

[2019-10-23 15:47] kevensen commented on #344
Implementing the enable/disable of git-sync for GKE actually will happen in the Helm charts.  This variable will need to be implemented there.  But, let's do that in the context of implementing GCS as an option as well for the policy-library.

[2019-10-23 15:51] kevensen commented on #344
https://github.com/forseti-security/helm-charts/issues/38

[2019-10-23 15:52] gkowalski-google commented on #344
We discussed this some more. We will not disable the policy library sync feature from working on GKE and the GCS sync will be implemented for the 2.24 release.

@morgante Regarding the default option, I agree that the VCS is the better approach. I think that some customers will not want to expose their internal repos and this approach requires more work by the user. The GCS option doesn't require

[2019-10-23 15:52] #344 closed

[2019-10-24 14:10] #343 closed

[2019-10-24 18:50] gkowalski-google commented on #295
Create a corresponding ticket for GKE

[2019-10-24 19:50] hshin-g commented on #153
@Ian-Harris there is a pull request that was opened by you and subsequently closed afterwards. Would you be able to address the comments in that PR and we can get this merged in?

[2019-10-28 15:48] gkowalski-google opened #358 "Make the Policy Library GCS folder a variable"
## Story
The GCS folder for the policy library is not exposed anywhere today. It is concatenated with the Server GCS bucket and `policy-library`. Several places in the code have this hard-coded. **Should we also create this folder within GCS from Terraform to remove a manual step for the users?**

## Proposed Solution
Make this into a variable which is passed to the GCE instance and the Helm chart

[2019-10-28 16:50] dlinares-linux commented on #296
Hi @kevensen ,
I have just tried terraform forseti module 5.0.0 and forseti v2.23.0, and set cloudsql_private = true.
I am getting this issue now:
[code]
Is it related to https://github.com/terraform-providers/terraform-provider-google/issues/3294 and https://github.com/terraform-providers/terraform-provider-google-beta/pull/1240 or do you think it's more related to my setup?
My setup uses the sam

[2019-10-28 16:57] kevensen commented on #296
Hi @dlinares-linux

I'm sorry you are seeing that error.  Do you mind opening a new issue for tracking?  I'll be happy to help you troubleshoot.

[2019-10-28 17:09] dlinares-linux opened #359 "Error when setting the CloudSQL instance to be private"
# Story

This issue is raised as a follow up of #296 .
Following the 5.0.0 release, I have upgraded to 5.0.0 and forseti v2.23.0.
When setting cloudsql_private = true, I am getting the following issue:
[code]

Could it be related to terraform-providers/terraform-provider-google#3294 and terraform-providers/terraform-provider-google-beta#1240 ?
Or is there something wrong with my setup? For example

[2019-10-28 17:11] dlinares-linux commented on #296
Thanks @kevensen , just opened #359 .
Cheers, David

[2019-10-28 17:13] kevensen commented on #359
@dlinares-linux If you could answer a couple questions.

1. Are you upgrading from a previous version of Forseti (or is this a fresh install)
2. Are you deploying Forseti on-GCE or on-GKE

[2019-10-28 17:16] hshin-g commented on #338
@blueandgold Can this issue be closed?

[2019-10-28 17:16] #335 closed

[2019-10-28 17:18] blueandgold commented on #338
@red2k18 please link to your PR and close this.  Thanks.

[2019-10-28 17:21] dlinares-linux commented on #359
Just modified the description to add some info about my set up.
Happy to share some code if that helps.
Cheers, David

[2019-10-28 17:22] #313 closed

[2019-10-28 17:23] kevensen commented on #359
@dlinares-linux Yes, if you cloud please share your main.tf, that would be helpful.  Also, you indicated that the previous install had been destroyed.  Did you remove your terraform.tfstate file?

[2019-10-28 17:28] red2k18 commented on #338
#347 resolved comments from #333.

[2019-10-28 17:28] #338 closed

[2019-10-28 17:30] bvandewalle commented on #286
You can use the same workaround described in the issue linked above in the meantime

[2019-10-28 17:59] dlinares-linux commented on #359
Hi @kevensen
Below is the equivalent of my main.tf (just gathered everything together).
[code]

[2019-10-28 19:40] kevensen commented on #359
@dlinares-linux Thanks for providing this information.   Nothing jumps out at me.  Could you please execute `terraform providers` in your root module and provide the versions of the `google` and `google-beta` provider?

[2019-10-29 09:47] dlinares-linux commented on #359
Hi @kevensen ,
Here is the result:

[code]

As for the version, I can see terraform-provider-google_v2.18.0_x4 in the directory .terraform/plugins/darwin_amd64/

[2019-10-29 10:06] paskal opened #360 "[v5.0.0] Google SCC notifier doesn't work, 500 error"
Terraform module v5.0.0 + Forseti v2.23.0 on GCE.

My notifier run fails every time ~4 hours after start according to the log:

[code]

As a result I never see any event updates in Google SCC.

As per @hshin-g suggestion, I've decreased the number of calls for `securitycenter_max_calls` to `10`  in the `notifier` section (https://github.com/forseti-security/terraform-google-forseti/blob/e3ed110e80

[2019-10-29 10:18] paskal opened #361 "[v5.0.0] tls_private_key.policy_library_sync_ssh is empty tuple"
Terraform module v5.0.0 + Forseti v0.23.0 on GCE, upgraded from v4.3.0 + v.0.22.0 Terraform on GCE.

[code]

`terraform plan`, `terraform apply` doesn't work for me. Steps to reproduce:

1. Create `main.tf` with following context, filling real `domain`, `project_id`, `org_id`:

[code]

2. Issue `terraform init`

3. Issue `terraform plan`, my result is:

[code]

Unless I delete following blocks fro

[2019-10-29 12:52] kevensen commented on #359
@dlinares-linux Thanks for providing that.  Could you please try setting the `google` provider to **2.11**?
[code]

[2019-10-29 16:04] dlinares-linux commented on #359
Thanks a lot @kevensen .
I am deploying in europe-west2.
Cheers,
David

[2019-10-29 17:34] paskal commented on #361
Clarification: `resource_name_suffix` is not present in the `main.tf` I've provided because it doesn't affect reproducibility of the issue for me, I get the same error with and without it.

[2019-10-29 18:03] paskal commented on #360
Decreasing the number of calls for `securitycenter_max_calls` to `10` in the `notifier` section didn't help, I've got exactly same error exactly 4 hours later after notifier start.

@hshin-g  re stackdriver logs: which ones? From which service or instance?
`cscc_source_id` is correct and was working even with Terraform `v4.3.0` for few days for me, and then broke (supposedly with the same error).

[2019-10-29 18:09] kevensen commented on #360
@paskal, thanks for providing that list.  A 500 error generally means an issue on the back end.  We'll investigate.

In the mean time I think you may be missing the `Security Center Findings Editor` role at the organization level on your server service account.  Do you mind checking to see if it is applied?

[2019-10-29 18:23] paskal commented on #360
I have this role missing on the IAM & admin page when I open it for Forseti project, however it is present for the same account when I switch to organization view. That's why I didn't include `Security Center Findings Editor` role in the list, I was looking roles under project view.

I think things were that way already when notifier was working, I did not change any service account roles after Oc

[2019-10-29 18:27] dlinares-linux commented on #359
Hi @kevensen ,
I am not really upgrading, as I have run:
- `terraform destroy --auto-approve`
- `rm -rf .terraform`
- `terraform init`
- `terraform apply --auto-approve`
But for your info, the version I had before was terraform module 4.2.1 and forseti v2.21.0

[2019-10-29 21:01] kevensen commented on #361
Ok.  I've recreated this issue.  I was running Terraform version `0.12.4` where I was not seeing this error.  I upgraded to `0.12.12` and am now seeing the problem.

[2019-10-29 21:33] paskal opened #363 "[v5.0.0] CloudSQL unnecessary recreation in case of automatic size increase"
Hello team!

I have v5.0.0 Terraform module installation on GCE, and found out that in scenario where CloudSQL outgrown default `25`Gb of size (`cloudsql_disk_size` variable), Terraform want to re-create it with smaller disk, see output of `terraform plan` (only relevant part is present):
[code]
Re-creation would be unsuccessful, see #271 for reason.

Expected behavior: if database size is bigger

[2019-10-29 21:38] paskal commented on #141
I have issue which is related to that: I'm not willing to grant `Organization Administrator` to someone, and I'm not willing to deploy Forseti Terraform module using forseti-server service account. I think there should be separate set of permissions required just for deployment.
If it would be easier for your team to track it as a separate issue, let me know and I will create it.

[2019-10-29 22:58] kevensen opened #364 "Specify the micro version of TF binary in all versions.tf"
Right now, the specified version of TF is specified as `0.12`.  There have been issues between micro versions.

We should consider posting the supported TF version (with micro version) in the release notes as well as release communications.

[2019-10-30 02:48] morgante commented on #364
We should be able to specify the micro version in versions.tf: https://www.terraform.io/docs/configuration/terraform.html#gt--1

[2019-10-30 03:55] kevensen commented on #364
I misunderstood a conversation I had with @aaron-lane.  If we can fix the micro version here, then my two cents is that we should.  We also would like to be consistent with the rest of CFT.  @morgante would we create a conflict if we set the micro version here and the rest of the CFT modules didn't?

[2019-10-30 04:04] morgante commented on #364
Nope, that's fine.

[2019-10-30 10:47] paskal commented on #361
I've checked against `master` branch, issue is gone. Resolving, thank you!

[2019-10-30 10:47] #361 closed

[2019-10-30 17:24] kevensen opened #366 "Forseti on-GCE: Specify branch in policy-library"
As a user of Forseti on-GCE, I would like to specify a branch other than _master_ for my policy-library. Add `policy_library_repository_branch` to the Forseti readme to list it as an input. This is supported on GKE.

[2019-10-30 22:13] hshin-g commented on #360
@paskal Synced with the CSCC team on this and it looks like the requests that are being sent sent have expired page tokens, which means they are keeping page tokens for long enough before retrieving all the results, so reducing the latency between different calls to CSCC may help.

Can you try setting `securitycenter_max_calls = 1` and running that to see if you are able to get those notifications

[2019-10-31 16:10] kevensen commented on #359
@dlinares-linux I have tested the main.tf you provided.  I was able to successfully deploy Forseti 2.23 with version 5.0.0 of the terraform-google-forseti module.

Can you please execute `terraform --version` in your module directory and provide the output?

[2019-10-31 17:35] paskal commented on #360
I've misread your request and set `securitycenter_max_calls = "1"` which obviously didn't resolve the problem. I'll set it to higher value and will return with result tomorrow.

[2019-11-01 02:30] marko7460 opened #367 "Forseti can not be installed with policy_library_sync_enabled = false"
1. Installing fresh forseti
1. ```hcl
   module "forseti" {
    source                   = "git@github.com:forseti-security/terraform-google-forseti.git?ref=v5.0.0"
    gsuite_admin_email       = var.gsuite_admin_email
    domain                   = var.domain
    project_id               = module.secops.project_id
    org_id                   = var.org_id
    network                  = module.for

[2019-11-01 09:32] paskal commented on #360
`securitycenter_max_calls = "30"` didn't change anything as well.

For me it seems like Forseti requesting too much data in single request, when we can't afford with having amount of data we have in the cloud. I'll try to clean up existing alerts and see if issue persists.

[2019-11-01 09:51] paskal commented on #367
I believe it was fixed in #362.

[2019-11-01 12:05] kevensen commented on #341
Closed via #356

[2019-11-01 12:05] #341 closed

[2019-11-01 15:34] marko7460 commented on #367
Closing.

[2019-11-01 15:34] #367 closed

[2019-11-01 16:14] dekuhn commented on #367
@kevensen @gkowalski-google I assume we need to label this issue related to the release in which we caused this issue. Can we please label accordingly?

[2019-11-01 16:40] gkowalski-google opened #368 "Update GKE configuration to match GCE machine and disk type"
## Story
Recently the GCE Server VM was updated to use a bigger machine type and a better disk type. Update Terraform for GKE to have these same changes.

## Proposed Solution
Since the Forseti GKE module just handles the Forseti specifics, users need to configure their Kubernetes cluster/nodes themselves. We have an end-to-end example showing a recommended Kubernetes cluster configuraiton. Update

[2019-11-01 20:39] blueandgold opened #370 "Support Additional Forseti Rules"
A Forseti user has added the following to support additional forseti rules to be added.  We should them to our upstream repo.

main.tf
[code]

variables.tf
[code]

[2019-11-01 22:15] gkowalski-google commented on #286
@kevensen Assigning this to you since you will be on support next week. I have approved the PR and think this is a good change, can you help us get this over the finish line?

[2019-11-02 03:31] gkowalski-google commented on #7
The only example still using this is the external_ip example. Remove from this example.

[2019-11-04 15:23] kevensen commented on #286
@gkowalski-google, which PR?  #275?

[2019-11-04 15:24] #368 closed

[2019-11-04 15:32] gkowalski-google commented on #286
Yes that is the one.

[2019-11-04 18:18] #251 closed

[2019-11-04 19:52] gkowalski-google commented on #179
Update website documentation to provide a process for how users should manage rules when using Terraform.

[2019-11-04 21:05] dlinares-linux commented on #359
Hi @kevensen ,
Sorry for the slow reply, that's interesting.
So, I am using terraform v0.12.6.
With the exact same code, when I destroy my infra, upgrade to terraform v0.12.13, re-apply, I am now getting the following error:
[code]
Happy to open a new issue, as it seems to be related to the fact that I haven't set   policy_library_sync_enabled = true in my config.

Anyway, going back to the origin

[2019-11-04 21:36] kevensen commented on #359
@dlinares-linux The tls-key issue is a known issue and will be fixed in terraform-google-forseti 5.1.0.

Let's try this.  Can you please move your _terraform.tfstate*_ files to another directory or remove them all together?

[2019-11-04 22:05] dlinares-linux commented on #359
Hi @kevensen ,
Finally got some info which I hope would be useful.

When upgrading to terraform 0.12.13 and running the code as above, the first tls-key issue is leaving the system in a weird state. The private_vpc_connection stays in the tfstate, even after a destroy. I need to call  `terraform destroy` twice to clean the tfstate properly.
After that, when adding `policy_library_sync_enabled = tr

[2019-11-04 22:07] kevensen commented on #359
@dlinares-linux My hypothesis was that something was stuck in the _terraform.tfstate_ file.  I am glad you were able to resolve the issue.  Is it ok to close?

[2019-11-04 22:16] dlinares-linux commented on #359
Yes.
Thank you so much for your help @kevensen !

[2019-11-04 22:19] kevensen commented on #359
@dlinares-linux My pleasure.  Please let me know if you have further questions.

[2019-11-04 22:19] #359 closed

[2019-11-05 06:15] ghost opened #372 "Add the support of "composite_root_resources" variable for on_gke_end_to_end"
While I tried installing the forseti on_gke_end_to_end module, I've encountered the below error during terraform apply:

[code]

I believe adding this variable support in the module would be good.

[2019-11-05 21:22] joecheuk commented on #315
Resolved in:
https://github.com/forseti-security/helm-charts/pull/52
and
https://github.com/forseti-security/terraform-google-forseti/pull/318

[2019-11-05 21:22] #315 closed

[2019-11-06 06:16] gkowalski-google opened #373 "Output the Server CAI Export GCS Bucket Id"
## Story
To test that the CAI export gets created successfully in the GCS bucket, the GCS bucket path is hard-coded with the prefix `gs://forseti-cai-export` because the GCS CAI export bucket path is not included in the root module's outputs.

## Proposed Solution
Output the path of the GCS bucket from the `server_gcs` sub-module by including `forseti-cai-storage-bucket` in the root module's outpu

[2019-11-06 18:46] garrettwong opened #375 "`Cloud Asset Viewer` Role not assigned on Composite Root Resources"
roles/cloudasset.viewer is not assigned on the Composite Root Resource node.  Have done two project deployments using the variable, and post-deployment, the role binding does not exist on the Project.

[code]

I haven't had a chance to confirm it yet, but assuming that the module only accounts for applying this role on the Organization.

[2019-11-06 18:54] gkowalski-google opened #376 "Add Cloud SQL DB User and Password as outputs"
# Blocked By
- Cloud SQL DB user/password changes need to get back into TF repo

## Story
Recently the MySQL database was updated to use a username other than root and a random password. To run E2E tests to check the database, the tests will need a way to get these credentials.

## Proposed Solution
Add the username and password as outputs, with the password being marked as [sensitive](https://www

[2019-11-06 18:59] gkowalski-google opened #377 "Update test fixtures to use master branch of Forseti"
## Story
The current test fixtures will deploy the version of Forseti that is specified by default in the configuration, which will be the last release. When some breaking changes get merged into Forseti master that only work Terraform master, the tests will fail because Forseti master is not used. For now, handling Forseti Terraform module releases we can update the fixtures to revert this to use

[2019-11-06 21:30] paskal commented on #363
Closing in favor of #153.

[2019-11-06 21:30] #363 closed

[2019-11-06 22:56] #377 closed

[2019-11-07 01:21] #373 closed

[2019-11-07 15:18] #153 closed

[2019-11-08 15:52] kevensen commented on #286
@gkowalski-google ok to close?

[2019-11-08 17:00] gkowalski-google commented on #286
Yes I think it's fine to close this. As long as Forseti is started ONCE with this updated command, then if security updates fail in the future, Forseti will still start. However, if they fail to install before Forseti can run once, then we'll still have an issue. I think it's ok to wait for the official fix instead of implementing the workaround, unless more users start to run into this.

[2019-11-08 22:53] kevensen opened #380 "Feature - Disable the deployment of allow-all firewall rules if Forseti is private"
## Story
By default, Forseti deploys in a public configuration.  This means the Server, Client and CloudSQL instances get public IP's.  In order to access the Client and Server, a user needs SSH access.  Forseti creates firewalls allow SSH from anywhere (0.0.0.0/0).  If Forseti is deployed in a private configuration, the Client and Server are not given pulbic IP's.  However, the anywhere firewall

[2019-11-11 10:50] paskal commented on #360
@kevensen would you be so kind to move this issue to https://github.com/forseti-security/forseti-security/? Now I believe it have nothing to do with Terraform, only with forseti server itself.

[2019-11-11 17:14] kevensen opened #381 "Add bucket locations to install_simple example"
## Story
Currently the Server, Client, and CloudSQL instance locations are defined by that `var.region` input variable.

https://github.com/forseti-security/terraform-google-forseti/blob/c868445f608c1270096e074c07eeeefc2b8ad422/examples/install_simple/main.tf#L25-L27

The `storage_bucket_location` and `bucket_cai_location` should be configurable here as well.

## Proposed Solution
Add the followin

[2019-11-11 18:23] kevensen commented on #360
@paskal Closing in favor of https://github.com/forseti-security/forseti-security/issues/3425

[2019-11-11 18:25] #360 closed

[2019-11-11 19:38] #381 closed

[2019-11-11 21:42] gkowalski-google commented on #129
Will be resolved in #295.

[2019-11-11 21:42] #129 closed

[2019-11-11 21:51] gkowalski-google commented on #17
At this time we plan to support Forseti on GCE running Ubuntu, along with Forseti running on GKE. Focusing on GKE and if in the future we decide to support other OS, then we will re-visit.

[2019-11-11 21:51] #17 closed

[2019-11-11 21:53] gkowalski-google commented on #101
Closing this out, please re-open if you have a valid use case. Today the project ID is passed to the Forseti module as an input.

[2019-11-11 21:53] #101 closed

[2019-11-11 21:54] gkowalski-google commented on #130
This has been completed.

[2019-11-11 21:54] #130 closed

[2019-11-11 22:14] gkowalski-google commented on #370
@blueandgold Can you provide the background on what the user was doing? Were new rules added to the TF repo or was the user trying to use TF to deploy their own custom rules? Is this documentation or having some sample to show users how they can deploy custom rules with TF?

[2019-11-11 22:18] gkowalski-google commented on #311
@blueandgold Just confirming that the customer is unblocked?

[2019-11-11 22:20] gkowalski-google commented on #303
Confirmed Forseti is using 5.0.0 of the Kubernetes module, re-open if the warnings are still seen.

[2019-11-11 22:20] #303 closed

[2019-11-11 22:21] morgante commented on #370
@gkowalski-google They were using TF to manage/deploy additional rules.

[2019-11-11 22:29] gkowalski-google commented on #289
This can be solved by using the Bastion Host example/module by using OS Login, instead of using private keys.

[2019-11-12 18:31] #286 closed

[2019-11-14 16:31] kevensen opened #384 "Forseti on-GKE: Hardcoded Kubernetes version no longer valid in end-to-end example"
The hardcoded version for the Kubernetes version, 1.13.11-gke.5 is no longer supported.

https://github.com/forseti-security/terraform-google-forseti/blob/c17aeeb2a5f81d968ba0190c08320e689b3d59f6/examples/on_gke_end_to_end/main.tf#L116

[2019-11-14 21:34] #384 closed

[2019-11-15 17:50] gkowalski-google opened #387 "Explore how to lock Forseti version"
## Story
The version of Forseti deployed with the Terraform module is a variable that users can control. However some versions of Forseti are known to be non-compatible with some versions of the Terraform module. Determine what is the best way to lock the Forseti version in for certain module versions, while still giving the flexibility to choose a "special" version of Forseti. For example, some u

[2019-11-15 17:59] blueandgold commented on #387
One approach would be to have an installer (that wraps terraform) that can
to do this.

On Fri, Nov 15, 2019 at 9:50 AM Gregg Kowalski <notifications@github.com>
wrote:

[2019-11-15 18:46] kevensen commented on #387
I'd like to suggest a simpler approach.  Provide a shell script that asks some basic questions and then generates a main.tf.  One of the input cloud be the Forseti version.  The script would then set the terraform-google-forseti module version accordingly.

[2019-11-15 18:50] kevensen opened #388 "Update to the latest version of the Google Provider"
## Story
The Terraform Google provider recently [released](https://github.com/terraform-providers/terraform-provider-google/releases) a new major version (3.0.0).  This has caused errors during linting and issues with Forseti deployments.

## Proposal
Update to the new major version of the Google Provider 3.x (currently 3.4) and pin to Forseti versions to a specific version. The goal is to ensure

[2019-11-15 19:06] morgante commented on #387
I'd strongly discourage building additional tooling on top of Terraform, it mostly just makes things too brittle.

How much of an issue is this for customers in reality? It seems like pinning the default version with the variable + *optionally* allowing an override should solve for 90% of cases.

[2019-11-15 19:21] gkowalski-google commented on #387
We have a change upcoming that we know will not be compatible unless users are on the correct versions. It's likely not a huge issue, but we don't know how everyone is using Terraform today. This seemed like a good thing to do to ensure users do not run into any issues.

[2019-11-15 19:24] morgante commented on #387
I'm not sure if it's worth adding complexity if it's just a hypothetical. We've always encouraged pinning to a minor module version and presumably the new (breaking) Forseti release should be a new module version, so it's only an issue if people *explicitly* set the new `forseti_version` *without* upgrading the module version—which we have documented is unsupported.

[2019-11-15 20:46] kevensen opened #389 "on-GKE empty tuple error for non-existent SSH key"
## Story
Seen in Terraform versions > 12.9, the empty tuple error of a configuration where an SSH key is not generated for config-validator.  For example `policy_library_git_sync = false`

## Proposal
Ensure the output for on-GKE resembled on-GCE.

[2019-11-16 20:33] kevensen opened #390 "Quoted references and Interpolation-only expressions are deprecated"
## Story
As of Terraform 0.12.x, quoted references and interpolation-only strings are deprecated.  First noticed in Terraform 0.12.13, warnings are printed to the CLI output indicating as such.

## Proposal
Remove quotes in the following locations.
- [x] on terraform-google-forseti/modules/cloudsql/main.tf line 49, in resource "google_compute_global_address" "private_ip_address"
  49:   network

[2019-11-19 00:07] #389 closed

[2019-11-19 18:34] #390 closed

[2019-11-20 00:31] blueandgold commented on #311
Yes, customer should be unblocked with the given info.  But we should document this.

[2019-11-21 23:04] kevensen opened #396 "Inconsistency in string interpolations between Server and Client sub-modules"
## Story
In the _server_ sub-module, resources names are appended with `local.random_hash`.

In the _client_ sub-module, resource names are appended with `var.suffix`.

## Proposal
Make them consistent

## Validation
GIVEN modules/client/main.tf and modules/server/main.tf
WHEN A user opens the files for read
THEN The appendages appear consistent

GIVEN modules/client/main.tf and modules/server/mai

[2019-11-21 23:05] #380 closed

[2019-11-25 16:13] gkowalski-google opened #397 "Add tests for the install_simple example"
## Story
The install_simple example is the "standard" for users to follow when installing Forseti. However there are no automated tests for it.

## Solution
Add a fixture for the install_simple example. This should be able to leverage the existing simple_example.

## Acceptance Criteria
New controls are added for the install_simple example and these tests pass.

[2019-11-25 16:25] gkowalski-google opened #398 "Remove the simple_example example"
## Story
The simple_example example is mostly redundant of the install_simple, and is no longer needed. The main differences between the two examples is that the simple_example makes Forseti private by default while the install_simple example makes Forseti publish.

There is another issue to provide a [private example](https://github.com/forseti-security/terraform-google-forseti/issues/254) with a

[2019-11-26 18:28] dekuhn commented on #141
@kevensen Correct me if I am wrong either we have a deployment service account or that is in the works which would address @paskal concerns?

[2019-12-02 16:25] kevensen commented on #141
@paskal Re-iterating morgante's comments, the forseti-server service account doesn't need Organization Admin.  Nominally, the deployer service account does.

[2019-12-02 16:30] paskal commented on #141
Thank you @kevensen! My position stands still: I would like to have an account with a separate set of permissions for just deployment, and a separate one for running forseti-server.

Now they are merged together in the documentation and it's up to a user to figure out how to separate them.

Also, it would be nice to explain in documentation why OrgAdmin is necessary and what should you do if you d

[2019-12-02 16:44] kevensen commented on #141
@paskal Understood.  The [helpers/setup.sh](https://github.com/forseti-security/terraform-google-forseti/blob/master/helpers/setup.sh) creates a service account just for deploying Forseti via Terraform.  Then, the Terraform module will create the server and client service accounts.

I'd be happy to help you with the execution script.

[2019-12-02 16:45] kevensen commented on #141
The documentation refers to this as the [Cloud Foundation Service Account](https://forsetisecurity.org/docs/latest/concepts/service-accounts.html#the-cloud-foundation-service-account).  The title of this could be more clear.

[2019-12-02 17:05] paskal commented on #141
Excellent, that's exactly what I was looking for. I think clarifying the title and the fact that this account will be used only for terraform\cloud foundation deploy and not for the Forseti server itself would make the situation absolutely clear.

[2019-12-02 17:06] kevensen commented on #141
Thanks for the feedback.  I'll take care of this today.

[2019-12-02 23:27] xingao267 commented on #388
Hi @kevensen just wondering what's the current planned ETA for the long term fix?

[2019-12-03 00:17] kevensen commented on #388
@xingao267 I'll be updating the resources in this module once the provider is out of beta.

https://github.com/terraform-providers/terraform-provider-google/releases

[2019-12-03 08:34] kyrogue opened #403 "Ability to not provision a client VM"
It should be possible to have the ability to not provision the client VM to reduce cost, as the single server alone is already installed with the forseti CLI tool

[2019-12-03 16:09] gkowalski-google commented on #403
Hi @kyrogue, thanks for submitting this issue. I agree that sounds like a reasonable request, we will consider this.

[2019-12-03 21:35] gkowalski-google opened #404 "Verify database flags are set"
## Story
Database flags should be verified to be configured correctly to ensure reliability for large deployments.

## Proposed Solution
Add a control to the [install_simple test](https://github.com/forseti-security/terraform-google-forseti/issues/397) to run the following command on the forseti client:
[code]

## Acceptance Criteria
The output should contain the following text:
[code]

[2019-12-08 09:49] dlinares-linux opened #405 "Create storage buckets with uniform bucket-level access enabled"
# Story

Google encourages the use of organization policies, and one best practice is for buckets to use uniform bucket-level access.
If an organization has set up policies around the constraint `constraints/storage.uniformBucketLevelAccess` to enforce the use of uniform bucket-level access, Forseti installation currently fails.

# Acceptance criteria
Forseti installation must succeed whether or n

[2019-12-09 14:57] gkowalski-google commented on #405
@dlinares-linux Thanks for submitting this issue and letting us know about the problem. Your implementation seems reasonable to me, we will take a look at this.

[2019-12-09 16:55] #387 closed

[2019-12-09 18:06] #376 closed

[2019-12-09 18:45] #366 closed

[2019-12-09 19:22] gkowalski-google commented on #375
@garrettwong Did the service account have the org level asset view role?

[2019-12-09 19:52] goofiva commented on #404
-----> Verifying <install-simple-local>...
$$$$$$ Running command `terraform workspace select kitchen-terraform-install-simple-local` in directory /workspace/test/fixtures/install_simple
$$$$$$ Running command `terraform output -json` in directory /workspace/test/fixtures/install_simple
server: Verifying host 10.150.0.54
Skipping profile: 'inspec-gcp' on unsupported platform: 'ubuntu/18.04'.

Prof

[2019-12-09 19:53] goofiva commented on #404
@gkowalski-google This test only passes on the forseti server. Client machine has permission issues.

[2019-12-09 21:06] gkowalski-google commented on #404
OK thanks, yes that sounds good, let's just run this from the server. I think we could have done it differently from the [gcp verifier](https://github.com/forseti-security/terraform-google-forseti/blob/master/.kitchen.yml#L37) but this is fine.

[2019-12-10 04:06] goofiva commented on #404
@gkowalski-google PR: https://github.com/forseti-security/terraform-google-forseti/pull/408

[2019-12-10 04:07] goofiva commented on #397
@gkowalski-google PR: https://github.com/forseti-security/terraform-google-forseti/pull/408

[2019-12-10 11:45] potsec opened #409 "Enable configuration of gcs_violations output file format"
Currently the terraform template defines
[code]
We use json format output files, so it would be useful if the output was configurable in the Terraform template (`forseti_conf_server.yaml.tpl`) via an input variable, such as `gcs_violations_file_format = json`.
[code]

[2019-12-10 12:03] potsec commented on #409
Additionally/alternatively it may be useful to have a way to use a local/existing config file instead of using the templated one in Terraform. Much like the `manage_rules_enabled` option

[2019-12-11 10:51] dlinares-linux opened #410 "Fix the providing of an externally generated SSH key for git-sync"
# Story

When a user provides an SSH private key for git-sync, terraform will not create the tls_private_key resource.
In that case, there will be no public key to output because it has been created outside of this plan.
Therefore, we shouldn't try to create the following data:
[code]
Otherwise, it will fail with the following error because we will try to extract the public part of the id_rsa file

[2019-12-12 20:51] #397 closed

[2019-12-12 20:52] #404 closed

[2019-12-12 21:19] aaron-lane opened #415 "Permission denied for storage.objects.list on CAI bucket"
Hello!

I have a deployment of Forseti which is experiencing failed `store.objects.list` requests with empty authentication information against the CAI bucket every time the scheduled scan executes. These failures are followed by successful `storage.objects.get` requests with non-empty against individual objects in the bucket.

@gkowalski-google speculated that the failed requests may be caused by

[2019-12-13 20:47] gkowalski-google opened #416 "Update Cloud SQL Password to exclude % character"
## Story
The Cloud SQL password is randomly generated with alphanumeric and `_%@` special characters. The `%` causes an error. The password in the error message below was all alphanumeric, when it was updated to include `%` then this error is generated.

[code]

## Proposed Solution
Remove the `%` from the list of `override_special` characters used for password generation.

[2019-12-13 21:38] #416 closed

[2019-12-14 06:48] gkowalski-google opened #418 "Base64 encode Cloud SQL secrets"
## Story
The secrets provided to Helm for the Cloud SQL username and password are not base64 encoded. This causes an error:

[code]

## Solution
Encode these values from within the on-gke main module with the `base64encode` method.

## Acceptance Criteria
Forseti Helm Chart successfully deployed.

[2019-12-17 08:49] jenshonkan84 opened #420 "Not able to upgrade forseti "Bad request error""
Hi!

Im not able to upgrade/install forseti. I am getting this error alot:

Im trying with the latest 5.1.0 version.

[2019-12-17 09:39] palladius opened #421 "Unsupported argument: An argument named "address" is not expected here"
I followed (hopefully thouroughly!) the instructions in https://registry.terraform.io/modules/terraform-google-modules/forseti/google/5.1.0

1. gxcloud auth login
2. git clone --branch module-release-5.0.0 --depth 1 https://github.com/forseti-security/terraform-google-forseti.git
3. . ./helpers/setup.sh -p PROJECT_ID -o ORG_ID # existing empty org where I'm admin, existing empty project created a

[2019-12-17 14:28] shazzzzam opened #422 "Error when creating service networking connection when using private network for cloud SQL in combination with shared VPC"
**Versions used:**
Terraform version: 0.12.17
Forseti terraform module version: 5.1.0
Forseti version: v2.25.0

**Our setup:**
Forseti is to be installed in a shared VPC network where the host project is another project.
and `cloudsql_private = true`

**Error message:**
Error: Error waiting for Create Service Networking Connection: Error code 9, message: allocated IP range 'private-ip-address' not

[2019-12-17 15:18] gkowalski-google commented on #421
Hi @palladius, sorry you ran into this issue. It is related to a provider update which was not being locked to a specific version in the 5.0.0 release. If you update the version of the Forseti module to 5.1.0 then this problem will be resolved. If you already have the Service Account created, then you don't need to checkout a different branch of the repository. You can just update the version with

[2019-12-17 16:04] thomasnyc opened #423 "variable "suffix" issue impacting installation."
Hi Team,

I try to do a clean install on a new project and run into the following error:

**Code may have the issue:**

/modules/client/variables.tf - line 100
variable "suffix" {
  description = "The random suffix to append to all Forseti resources"
}

This has no default value and seems it is the reason of the following error while I ran "terraform apply"
Any idea how to fix this? I am going to

[2019-12-17 16:33] thomasnyc commented on #423
With another co-worker's help, I created a default network. Most of the Error went away except one:

Error: Invalid template interpolation value: Cannot include the given value in a string template: string required.

This has no reference on which line or part has issue. Any thoughts?

**Full error message:**
  Enter a value: yes

null_resource.org_id_and_folder_id_are_both_empty[0]: Destroying...

[2019-12-17 18:44] morgante commented on #420
It looks like you're encountering this issue in the Terraform provider: https://github.com/terraform-providers/terraform-provider-google/issues/5151

You should try pinning your Terraform provider version to 2.20.1:

[code]

[2019-12-18 17:04] blueandgold opened #427 "Please add a CONTRIBUTORS file."
Now that there is a PR (#414 ) from an external contributor, we should start a CONTRIBUTORS file, like the example below.
https://github.com/forseti-security/forseti-security/blob/master/CONTRIBUTORS

[2019-12-19 02:42] red2k18 opened #429 "Add a Terraform variable to modify ulimit in main.tf"
[PR](https://github.com/forseti-security/terraform-google-forseti/pull/425/files) modifies ulimit to 32768. We want to make this field configurable after we hear from the users that the fix is actually helping resolve some of the issues.

[2019-12-19 19:08] gkowalski-google commented on #415
See if this can be reproduced by using root resource id (not composite root). If it can be reproduced then look into a fix.

[2019-12-19 19:21] gkowalski-google commented on #388
Attempt to update to the next major version and ensure the sub-modules are tied to a version.

[2019-12-23 19:12] red2k18 commented on #429
Deprioritizing this until user(s) reports that the fix is helping to resolve issue(s).

[2019-12-23 20:50] Arconapalus commented on #421
I came across this same issue, thank you for the update

[2020-01-02 00:02] #147 closed

[2020-01-02 01:02] #165 closed

[2020-01-02 02:02] #173 closed

[2020-01-02 03:02] #140 closed

[2020-01-02 22:37] angstwad opened #431 "Using private IPs, helper script service account lacks required IAM permissions"
Logging issue quickly as I work; will open PR to remedy or close as required.

[code]

[2020-01-06 05:42] choonchernlim opened #432 "Google Cloud Shell Walkthrough: Invalid token JSON from metadata"
I'm currently doing the Google Cloud Shell Walkthrough.

When I run `terraform apply` on Step 6, I get the following error:-

[code]

When I click on the link, I'm seeing this error:-

[code]

I did run `gcloud auth login` successfully based on Step 1.

How do I fix this error?

Thank you.

[2020-01-06 18:38] gkowalski-google commented on #418
Resolved by [PR #419](https://app.zenhub.com/workspace/o/forseti-security/terraform-google-forseti/issues/419)

[2020-01-06 18:38] #418 closed

[2020-01-07 21:53] gkowalski-google opened #433 "Integration tests are failing to enable Bigquery API"
## Story
The integration test build is failing to enable Bigquery API and preventing PRs from being tested/merged.

[code]

## Proposed Solution
After some more testing, I found that enabling the `bigquery-json` API fails with older versions of the Google provider (eg. 2.11 and 2.12), however it works with the latest version. As mentioned in [this issue](https://github.com/terraform-providers/terr

[2020-01-08 20:33] gkowalski-google opened #438 "Update non-Google Provider Versions"
## Story
To help long-term support for Forseti, update the Provider versions (except for Google which will be handled by #388) to the latest stable versions. These new versions should be specified explicitly without allowing the module to use new versions before they are tested.

## Solution
Recommend to complete this work after updating the Google provider version #388.

Ensure all providers are

[2020-01-08 23:45] #433 closed

[2020-01-09 14:40] paskal opened #440 "[5.1.0] Error on terraform destroy because of empty google_storage_bucket.cai_export"
I see following error after running `terraform destroy` in existing installation:
[code]

Place with the error:

https://github.com/forseti-security/terraform-google-forseti/blob/modulerelease510/modules/server_gcs/outputs.tf#L22-L25

[2020-01-13 01:40] Parasdogra opened #443 "[v5.0.0] tls_private_key.policy_library_sync_ssh is empty tuple"
Installing the Forseti using cloud shell, edited the terraform.tfvars file.

Here is the terraform version
[code]

[2020-01-13 14:13] nycnewman commented on #443
This is a duplicate of https://github.com/forseti-security/terraform-google-forseti/issues/361. The issue is with Terraform 12. I believe the latest release 5.1.0 fixes this.

[2020-01-13 15:10] gkowalski-google commented on #443
Hi @Parasdogra, as @nycnewman mentions, there is an issue with 5.0.0 and Terraform versions > 0.12.6. We recommend to use the 5.1.0 version of the module instead. Please let me know if that resolves the issue.

[2020-01-13 21:19] red2k18 commented on #375
@garrettwong any update on this?

[2020-01-14 15:47] umairidris opened #448 "CAI only install"
Is it possible to only install Forseti and give it the minimum permissions to access CAI and use the new policy library (e.g. all previous scanners + APIs are disabled)? If not, could we please add a new mode for the module to only enable the resources needed for CAI + policy library?

[2020-01-15 18:13] #203 closed

[2020-01-16 17:52] hshin-g commented on #415
Duplicate of [#2827](https://github.com/forseti-security/forseti-security/issues/2827).

[2020-01-16 17:52] #415 closed

[2020-01-16 19:10] gkowalski-google commented on #254
Pick up from Ken's closed PR, add tests, and ensure it's working with the latest production module.

[2020-01-16 19:13] gkowalski-google commented on #375
Investigate if we can automate this within Terraform for the various composite root resources (org/folder/project). If not, then document what someone will need to do when using composite root.

[2020-01-17 05:43] gkowalski-google commented on #421
@palladius Were you able to resolve this issue?

[2020-01-20 17:15] choonchernlim opened #456 "Feature request: Add parameters for shielded VM properties"
Currently, the module allows me to change the boot images through `client_boot_image` and `server_boot_image`.

I have tested it with shielded VM (`gce-uefi-images/ubuntu-1804-lts`) and it works without any problems.

That said, would it be possible to add a few parameters to enable several shielded VM properties (ex: secure boot, vtpm, integrity monitoring)?

Currently, it be can done by modifyin

[2020-01-21 15:42] #398 closed

[2020-01-21 19:10] hshin-g opened #458 "Unable to deploy GKE End to End example"
### Story

Customer is unable to deploy the [GKE End to End example](https://github.com/forseti-security/terraform-google-forseti/blob/master/examples/on_gke_end_to_end/main.tf) due to IAM Policy error and other errors. Followed the instructions on the Forseti website [here](https://forsetisecurity.org/docs/latest/setup/forseti-on-gke.html) for new GKE cluster, including:
1. In GCP console, cloned

[2020-01-22 16:32] gingersnapz opened #460 "Support sync with Google Cloud Source Repos"
Currently I have not found any supporting documents that describe syncing configuration policies with a Cloud Source repo instead of a Github or GCS bucket.
There have been examples scattered that show manual ways to enable cloning via generated credentials for a user but not using a service account with proper permissions to a Cloud Source Repo. I have attempted to add the ssh key (generated by t

[2020-01-23 17:42] #405 closed

[2020-01-24 14:28] #432 closed

[2020-01-24 16:25] xingao267 commented on #388
What's the status of making this module compatible with google provider 3.0.0?

[2020-01-24 17:38] gkowalski-google opened #461 "Mirror policy library directory for GCS sync"
## Story
If a user is using Config Validator and the GCS sync to copy policies from GCS to the server VM, if policies are deleted in GCS they are not deleted on the VM.

## Proposed Solution
The [gsutil command](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_server_startup_script.sh.tpl#L123) used will copy the polic

[2020-01-27 16:26] #461 closed

[2020-01-27 18:20] gkowalski-google opened #464 "Merge in changes from release 5.2.0 branch to master"
## Story
The modulerelease520 branch was created in December and includes some changes/fixes that we want to move into the master branch. Since the 5.2.0 module release is delayed, I will delete the modulerelease520 branch after this is merged and re-create it when the release is ready.

[2020-01-27 20:21] blueandgold commented on #431
PR is still in code review.  Waiting for user to make recommended changes.

[2020-01-27 20:23] blueandgold commented on #295
@allisonis  for FYI, who reported this issue before.

[2020-01-27 20:38] blueandgold commented on #431
Will assign to @gkowalski-google as he is doing the code review.

[2020-01-27 20:46] blueandgold commented on #423
@thomasnyc apologies for the delayed response.  Are you able to find a resolution here yet?

[2020-01-27 20:48] blueandgold commented on #422
@shazzzzam apologies for the delayed response. Are you able to find a resolution here yet? If not, I can dig into this more with you.

[2020-01-27 22:32] thomasnyc commented on #423
I was able to find the solution. The fix is having the terraform.tfvars file like the following:

domain="xxxx.net"
org_id="xxxxxxxxxxx"
project_id="xxx.xxx.xxx"

gsuite_admin_email="someone@domain.com"

config_validator_enabled=true
config_validator_violations_should_notify=true
forseti_version="v2.18.0"

#credentials_path=""

[2020-01-27 22:32] #423 closed

[2020-01-28 14:53] angstwad commented on #431
Wilco

[2020-01-28 15:10] gkowalski-google commented on #443
I have worked with @Parasdogra and we were able to get Forseti deployed correctly.

[2020-01-28 15:10] #443 closed

[2020-01-28 15:12] gkowalski-google commented on #421
@palladius Closing this issue, please let me know if you need to re-open.

[2020-01-28 15:12] #421 closed

[2020-01-28 16:49] red2k18 commented on #364
Pinning a specific minor Terraform version is discouraged as this will make users lives much harder; they won't be able to update to a new Terraform version (even for other modules). No other CFT or reusable modules do this, and HashiCorp strongly discourages it.

[2020-01-28 16:49] #364 closed

[2020-01-28 18:43] blueandgold opened #469 "Simple Install via Cloud Shell Walkthrough from the Website Setup Page Is Not Working"
## Story

When doing the [Cloud Shell Walkthrough from the website setup page](https://forsetisecurity.org/docs/latest/setup/install.html), the process will fail via very standard configurations.  See screenshot below.

![image](https://user-images.githubusercontent.com/6977544/73294510-dd417b00-41ba-11ea-8ac7-6ccb8ab9e07a.png)

## Troubleshooting

TBD

## Solution

- Installation should work succ

[2020-01-28 19:06] dekuhn commented on #141
This doc (https://forsetisecurity.org/docs/latest/concepts/service-accounts.html#the-cloud-foundation-service-account) needs to be updated and point to the Forseti installation process where this service account is needed temporarily to bootstrap the install Forseti. The Forseti installation has details on creating this service account and a script to deprovision the service account once Forseti i

[2020-01-28 19:44] #427 closed

[2020-01-28 20:34] umairidris commented on #388
https://github.com/terraform-providers/terraform-provider-google/releases it has been GA since mid december and is causing breakages for customers.

Can Forseti upgrade sooner in the future for breaking changes? Perhaps releasing a beta version when a new beta major version is there and then a stable release once the provider is GA. Otherwise this will be a bottleneck in using the latest stable pr

[2020-01-28 21:55] xingao267 commented on #388
If it's not currently planned or prioritized, I'll take a stab at upgrading it.

[2020-01-29 21:12] choonchernlim opened #468 "Server VM: "Error communicating to the Forseti server.""
When I run the following command: `forseti model delete test-model` in the server VM, I get this error:-

[code]

When I go to `/var/log/syslog`, I see this error message: `Server returned error NXDOMAIN, mitigating potential DNS violation DVE-2018-0001, retrying transaction with reduced feature level UDP.`

I'm using a shielded VM (`gce-uefi-images/ubuntu-1804-lts`) if that makes any difference.

[2020-01-29 21:17] gkowalski-google commented on #468
Hi @choonchernlim, if you are getting that error on the Forseti server then it seems likely that the Forseti service is not running. Can you check the Stackdriver logs for the server VM and look for any errors? You can also try searching for `forseti startup` to see where in the startup script things went awry.

The NXDOMAIN message can be ignored, that is coming Ubuntu and should not be causing a

[2020-01-29 21:23] choonchernlim commented on #468
I'm going to try to comb through the log file for errors later.

My institution requires the Forseti instance to be spun up using a shielded VM. Is there a recommended shielded VM image I should be using instead of `gce-uefi-images/ubuntu-1804-lts`?

[2020-01-29 22:06] xingao267 commented on #468
I've tested on that machine type, so I don't think the machine type is the issue. Usually I see this kind of error when the server VM is not fully ready (in a short period after startup). But Mike and I communicated offline, and that seems not the cause either.

[2020-01-30 01:57] choonchernlim commented on #468
After trying several things for 2 to 3 hours here, I can consistently get  `forseti model delete test-model` to work in server VM if I either do a `reset` on the VM or `reset` immediately followed by `stop` then `restart`. @xingao267 did mention the same thing to me on how he fixes this error himself.

There are no pressing errors that jump out from the Stackdriver logs, and I always waited until

[2020-01-30 15:07] gkowalski-google commented on #468
Sorry to hear that @choonchernlim, agree it doesn't seem like a machine type issue, but curious to know if you see the same behavior.

You can start the Forseti service like this `sudo systemctl start forseti`. It seems like the service is stopping, so next time you see it not working, but be worthwhile to try `sudo systemctl status forseti` to see if that gives you any messages about why it stopp

[2020-01-30 17:01] choonchernlim commented on #468
When I run `sudo systemctl start forseti`, I get this error: `Failed to start forseti.service: Unit forseti.service not found.`. How do I go about troubleshooting this?

By the way, is it possible to have 2 Forseti instances running under the same org and with both instances connecting to CSCC?

[2020-01-30 17:03] choonchernlim commented on #468
By the way, I tried the default non-shielded VM last night, and it produced the same error. I verified that the server VM can ping externally.

[2020-01-30 17:30] #469 closed

[2020-01-30 18:39] gkowalski-google opened #471 "Forseti cannot connect to CloudSQL with a password containing multiple @"
## Story
By default Forseti will create a random CloudSQL password containing alpha-numeric characters and the special chars `_@`. Having a single `@` seems to not cause any issues, but having 2 `@` causes an error and Forseti cannot connect.

[code]

## Proposed Solution
Remove the `@` from possible special characters for the random password.

[2020-01-30 20:58] #464 closed

[2020-01-31 02:33] xingao267 commented on #468
https://github.com/forseti-security/forseti-security/issues/3615 and https://github.com/forseti-security/forseti-security/pull/3616 might be related. It's likely due to the module but due to a bug in the forseti startup script which cause your instance not started properly.

@hshin-g is there a way to pin to stable version of Forseti installer or startup script this this kind of issue does not hap

[2020-01-31 15:48] #222 closed

[2020-01-31 15:58] choonchernlim commented on #468
Now that Forseti v2.24.1 is out, I tried pinning that version:-

[code]

... then `destroy`, `apply` and waited for the startup script to complete.

I still get `Unit forseti.service not found` when I run `sudo systemctl status forseti`.

Are there any additional steps I need to take after provisioning it before I check whether the Forseti service is running in the server VM?

Thanks.

[2020-01-31 16:48] #221 closed

[2020-01-31 18:18] hshin-g commented on #468
@choonchernlim We discovered that there were some backwards incompatible changes from the master branch that were merged into the v5.1.1 release of the Terraform module. We have deleted and recreated the right v5.1.1 release- can you try running `terraform init` with `version = "~>5.1"` (and `forseti_version="v2.24.0" i.e. the default) to pull down the correct changes and run `terraform apply` and

[2020-01-31 19:07] choonchernlim commented on #468
@hshin-g No dice. I re-downloaded v5.1.1 with no `forseti_version` defined, then did a `destroy` and `apply`... and I still see this error in the server VM:-

[code]

When I scan through the Stackdriver log, should the startup script returns code 0 or code 1? Right now, I'm seeing this:-
[code]

If it helps at all, here's my Forseti configuration (tested by @xingao267)... I'm using the default VM

[2020-01-31 19:11] hshin-g commented on #468
Thanks for the info @choonchernlim. Where is the source `"../modules/forseti-5.1.1"` coming from? Are you utilizing the v5.1.1 tag found here: https://registry.terraform.io/modules/terraform-google-modules/forseti/google/5.1.1.

Can you try running `sudo systemctl restart forseti` and see if that gets the application running?

[2020-01-31 19:16] choonchernlim commented on #468
I downloaded the zip file from https://github.com/forseti-security/terraform-google-forseti/releases/tag/v5.1.1 ... updated an hour ago. I can try pulling from the registry if you feel the codebase is different.

[code]

[2020-01-31 19:21] hshin-g commented on #468
Can you check in the Serial Port 1 (Console) logs (navigate to your Server VM in the console and there should be a list under Logs) and see if there is an output of`INFO Finished running startup scripts.`? It takes a while after the VM is created since there are packages, etc. that are downloaded/installed. Once you see that output, can you try running `sudo systemctl restart forseti` again?

[2020-01-31 19:31] choonchernlim commented on #468
Yes, I can confirm that output message exists.
[code]

Running that command yields the same error message.

I further scanned through Serial Port 1 (Console) logs... and here's what I see:-

**warning**
[code]

**error**
[code]

**fatal**
[code]

[2020-01-31 19:35] hshin-g commented on #468
When you did `terraform destroy` the first time, did you ensure that all resources were destroyed properly before running `terraform init` and then `terraform apply` for the new v5.1.1 tag?

If it's possible, can you try creating a new project and redeploying using this walkthrough tutorial: https://console.cloud.google.com/cloudshell/open?cloudshell_git_repo=https%3A%2F%2Fgithub.com%2Fforseti-sec

[2020-01-31 19:41] choonchernlim commented on #468
Yes, I'm pretty certain that all the resources were properly destroyed before I `apply` it again.

I'll do the walkthrough tutorial now.

By the way, I don't believe I got this question answered (got buried above) but...

The org that I'm currently in already has a Forseti instance running and it is connected to CSCC (@xingao267 helped me with that). Do you think that this problem is due to the fa

[2020-01-31 19:43] xingao267 commented on #468
I was able to run two forseti project/instance in the same org before. But didn't try connecting the second one to CSCC (might not even possible because you can only input one server service account in the CSCC Forseti connector, I'm still trying). You can remove
cscc_source_id                     = local.cscc_source_id
and set enable cscc to false to eliminate that variable.

[2020-01-31 19:55] xingao267 commented on #468
I think I found something promising...

There is this error:
Jan 31 19:48:17 forseti-server-vm-9aecc8b2 startup-script: INFO startup-script: Finished processing dependencies for forseti-security==2.24.0
Jan 31 19:48:17 forseti-server-vm-9aecc8b2 startup-script: INFO startup-script: Forseti Startup - Downloading Forseti configuration from GCS.
Jan 31 19:48:18 forseti-server-vm-9aecc8b2 startup-scri

[2020-01-31 19:57] xingao267 commented on #468
So when `manage_rules_enabled` is `false`, either the module itself should create an empty folder in the server bucket, or the startup script should not try to download the rules.

[2020-01-31 20:19] angstwad opened #478 "Cleanup.sh script closes STDIN; incompatible with gcloud"

[2020-01-31 20:19] #478 closed

[2020-01-31 20:31] angstwad opened #479 "Cleanup.sh script closes stdin; gcloud/python writing to closed streams"
Cleanup.sh script closes `stdin` using `1>&-` syntax, which looks to break Python and `gcloud`.

For example:
[code]

This can be replicated at the CLI:

[code]

Inspecting the PID of a Python process started w/ closed `stdin` shows it isn't open:

[code]

Seems like just using`&> /dev/null` is for these [lines](https://github.com/forseti-security/terraform-google-forseti/blob/master/helpers/clean

[2020-01-31 20:58] choonchernlim commented on #468
Here's the update...

When I followed the walkthrough tutorial, the service started successfully.

When I pasted my above configuration into the walkthrough code and did a `destroy` and `apply`, the problem came back.

I'm going to try with `manage_rules_enabled` set to `true` to see if the problem goes away.

[2020-01-31 21:00] xingao267 commented on #468
I can confirm that with Forseti Terraform module v5.1.0 + Forseti v2.24.0 + `manage_rules_enabled` to `false` + my local change to use shielded VM, it works if I upload both legacy rules and policy library constraints to the bucket before the startup script finishes :) or reset VM after they are uploaded.

[2020-01-31 23:10] gkowalski-google commented on #388
@umairidris We are looking at working on this soon. Can you elaborate on what is breaking for customers?

[2020-01-31 23:19] xingao267 commented on #388
@gkowalski-google Umair and I worked on the same team. And it's breaking for the same customer, which they needs features in google provider > 3.0.0 but Forseti module does not yet work with newer version of the provider.

@umairidris, @gkowalski-google and I synced in a different thread that their team has the capacity to take it on next week. They are going to implement this.

[2020-01-31 23:31] chuckwilliams10 commented on #388
Hi guys....so the team is looking to get TF module to work with the latest google provider version 3.0.xxx?  Any ETA as my team is in the middle of a deployment of Forseti and found out this issue. All of our TF is using the latest google provider version. ...any ETA on this....thanks a ton.

[2020-01-31 23:39] choonchernlim commented on #468
I can also confirm that if `manage_rules_enabled` is set to `false`, the service will not start in the server VM. This looks like a bug to me.

Also, I'm seeing a lot of SQL-related errors in the log. Is this normal?

<img width="1628" alt="Screen Shot 2020-01-31 at 5 33 31 PM" src="https://user-images.githubusercontent.com/6835135/73581839-42fa6500-4450-11ea-9c0a-464b02311422.png">

Finally, #440

[2020-02-01 04:37] choonchernlim opened #481 "InternalError: (pymysql.err.InternalError) (1060, "Duplicate column name 'XXXXXXX'")"
When the server VM starts, there are several `Duplicate column name` errors, for example:-

<img width="922" alt="Screen Shot 2020-01-31 at 10 34 56 PM" src="https://user-images.githubusercontent.com/6835135/73586930-296e1300-447a-11ea-85e8-c9a87a03a6b4.png">

Here's one of the sample stacktrace:-

[code]

I'm using v5.1.0.

Thank you.

[2020-02-01 17:18] gkowalski-google commented on #481
@choonchernlim Thanks for submitting this issue. These errors make the logs harder to find the real issues, but should not be causing any issues. Can you confirm any issue on your end related to this? [These errors have been resolved](https://github.com/forseti-security/forseti-security/pull/3590) and will be part of v2.25.0.

[2020-02-01 17:51] x85dzhu commented on #422
same issue here

[2020-02-01 18:05] choonchernlim commented on #468
There are still some finickiness with this, which I'm still trying to figure out the root cause of the problem.

So, the problem stemmed from the fact that `manage_rules_enabled` is set to `false`.

After manually pushing the rules to the GCS bucket, I do a `reset` to rebuild the server VM.

When SSH into server, sometimes it works flawlessly.

Other times, I get into this problem below:-

* `sudo

[2020-02-01 19:02] choonchernlim commented on #468
To prove how finicky it is, when I perform a `destroy` and `apply` again.

When I ssh into the server VM to check the service and perform a simple `forseti model delete test-model`, it failed, and the error log shows DB connectivity problem:-

[code]

Then, I performed a `reset` on the server VM, and it works successfully with the log showing this:-

[code]

I understand this Forseti module is com

[2020-02-01 23:06] choonchernlim commented on #468
@xingao267 , @gkowalski-google  and @hshin-g ... thank you very much for your help.

For now, I can live with the slight quirkiness. I feel https://github.com/forseti-security/terraform-google-forseti/issues/468#issuecomment-580886910 mentioned by @xingao267 needs to be addressed to ensure it won't just break the service startup if `manage_rules_enabled` is set to  `false`.

I'm going to go ahead

[2020-02-01 23:06] #468 closed

[2020-02-03 18:52] #431 closed

[2020-02-03 18:52] #479 closed

[2020-02-04 00:04] #471 closed

[2020-02-04 15:21] #295 closed

[2020-02-04 17:51] blueandgold commented on #458
Assigning to @gkowalski-google who will take a look at this as part of the 2.25 release. Another user reported this issue on slack that he was unable to deploy the GKE version by following the website instruction.

[2020-02-04 19:20] mmohammedirfan opened #484 "I have deleted all the resources and trying to reinstall but ending up with this error"
Error: Error reading SQLDatabase "forseti-server-db-9cb76d2c:forseti_security": googleapi: Error 400: Invalid request: Invalid request since instance is not running., invalid
Error: Error reading SQL User "forseti_security_user" in instance "forseti-server-db-9cb76d2c": googleapi: Error 400: Invalid request: Invalid request since instance is not running., invalid

[2020-02-05 14:47] red2k18 commented on #456
Thanks for your interest! We will review this request in our next meeting and will provide an update here. Wanted to check if you are interested in contributing this feature.

[2020-02-05 15:00] red2k18 commented on #484
Hi, thanks for reaching out! What version are you trying to install? Was the initial installation not successful?

[2020-02-05 16:01] choonchernlim commented on #456
I'm willing to help, but I could use some direction on how you guys want to proceed with this depending on how customizable we want it to be.

Given all shielded VMs belong to `gce-uefi-images` image project, one way is to parse the image path to determine whether the image is a shielded VM or not before adding that `shielded_instance_config` block with that 3 properties set to `true`.

Another wa

[2020-02-06 15:04] red2k18 commented on #460
@gingersnapz, thanks for reaching out! Yes, we have documented the [recommended practice](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#provide-policies-to-forseti-server) i.e GitHub. Will discuss with the team the possibility of adding support for other practices such as Cloud Source repository and will update this issue.

Thanks,
Rehana

[2020-02-06 21:53] gkowalski-google opened #493 "Pin Helm Provider to use Helm 2"
## Story
A new Helm provider was released yesterday to support Helm 3. This is not backwards compatible and Forseti is not pinned to use the Helm 2 provider.

Lint errors
[code]

## Proposed Solution
Use `v0.10.4`

## Acceptance Criteria
- Lint tests pass
- Confirmation that local test of a GKE deployment does not hit this error

[2020-02-07 04:58] gkowalski-google opened #494 "Forseti Terraform module release 5.2"
## Story
Release new module version 5.2 for Forseti 2.25.0.

[2020-02-07 14:50] red2k18 commented on #422
@shazzzzam Forseti v2.25.0 is not released yet. If your Forseti Terraform version is 5.1.0, you are on v2.24.0. Let's connect to look into this issue. Let me know your availability.

Thanks,
Rehana

[2020-02-07 14:53] red2k18 opened #496 "Forseti Terraform Module Release 5.0.1"
Forseti Terraform Module Release 5.0.1 needs to be released to patch Forseti v2.23.0

[2020-02-07 14:54] red2k18 opened #497 "Forseti Terraform Module Release 5.1.2"
Forseti Terraform Module Release 5.1.2 need to be released to patch Forseti v2.24.0

[2020-02-07 17:11] chuckwilliams10 commented on #388
@gkowalski-google --is updating Forseti with the latest Google Provider still a part of the Forseti Sprint 2020.02.17 milestone/sprint?  I am asking as our team was hoping it still was so we can deploy the TF Forseti module in our current client engagement....thanks a ton..

[2020-02-07 17:16] gkowalski-google commented on #388
Hi @chuckwilliams10, no I'm sorry we weren't able to take it on at this time. I believe a few other people are going to look at making this change and submitting it, but I do not have an ETA. If it is not completed within the next week and a half, then I believe we will have time next sprint to help out with this.

[2020-02-07 17:22] chuckwilliams10 commented on #388
Hi @gkowalski-google---thanks..do you know who might be looking into making the change and submitting it...thanks a ton.   Also, are there any work arounds to allow the Cloud SQL instance to privately connect to the shared VPC....as the client's engagment doesn't allow any external ips for vms...in case I am missing another way to deploy the current version of the TF Forseti module..thanks a ton.

[2020-02-07 18:47] #493 closed

[2020-02-08 23:00] #497 closed

[2020-02-08 23:02] red2k18 opened #500 "Automate roles/permissions required to deploy Forseti on-GKE"
Automate below roles/permissions required to deploy Forseti on-GKE.

Roles:
1. `roles/container.clusterAdmin`
2. `roles/container.developer`
3. `roles/iam.serviceAccountKeyAdmin`

API:
1. `container.googleapis.com`

[2020-02-10 08:53] garrettwong commented on #375
The service account did not have any Org Level roles.  My assumption for composite_root_node for a project is that the user installing does not have Org or Folder level roles, but has enough Project level roles for installation.

[2020-02-10 16:00] xingao267 commented on #388
Hi @chuckwilliams10, I'm taking a stab at updating the provider version this week.

[2020-02-10 16:21] chuckwilliams10 commented on #388
Hi @xingao267..awesome news....thanks a ton.

[2020-02-10 16:54] choonchernlim opened #501 "`manage_rules_enabled=false` prevents Forseti service from starting"
**PROBLEM**

Related to #468...

When setting `manage_rules_enabled` to `false`, the `rules/` dir is not created in the `forseti-server-xxxx` GCS bucket.

This prevents Forseti service from starting up successfully in server VM:-

[code]

Here's the error from "Serial port 1 (console)" log:-

[code]

**PROPOSED SOLUTION**

Ensure `rules/` dir is created in [modules/rules/main.tf](https://github.co

[2020-02-10 17:22] #500 closed

[2020-02-11 16:00] #496 closed

[2020-02-11 17:37] #456 closed

[2020-02-11 17:48] choonchernlim commented on #403
My institution is in need of this feature too.

@gkowalski-google Does CFT need help on this? The cleanest way, IMO, is to introduce a new variable: `client_enabled` (type=`boolean`, default=`true`) to control the creation of client VM. I can work on this and PR it if I have CFT's blessing to move forward.

Thanks.

[2020-02-12 05:36] #388 closed

[2020-02-13 21:01] choonchernlim opened #505 "Current copy from `master` branch does not work out of the box"
**PROBLEM**

The default `forseti_version` defined  in  `[FORSETI_ROOT]/variables.tf` is `v2.24.0`.

As a result, this error is thrown on server VM startup:-

[code]

**PROPOSED SOLUTION**

I believe the default `forseti_version` should be pinned to `v2.25.0`.

Since user `root` is no longer used, this will allow `SQL_DB_USER` and `SQL_DB_PASSWORD` to be picked up from https://github.com/forseti-s

[2020-02-13 21:07] gkowalski-google commented on #505
Hi @choonchernlim, we are working on the v2.25.0 release. Until then, the Forseti Terraform module 5.1.2 should continue to be used. The recent changes that have been merged into the Terraform master branch cannot be used until this release. Does that answer your question?

[2020-02-13 21:22] choonchernlim commented on #505
Is Forseti Security `v2.25.0` still under development?

I tried pinning `forseti_version` to that version and that seems to be working without problem, but I don't know the implication of doing so.

If Forseti Security `v2.25.0` is not quite ready for primetime, I will communicate up to my leadership and stick with Forseti Terraform `v5.1.2`. I was initially hoping to leverage @xingao267's google

[2020-02-14 11:02] shazzzzam commented on #422
We've now tried it again with Forseti Terraform version 5.1.2 and forseti v2.24.1 and got the same error.

In order to get past this we set up the range and the peering ourselves in our other terraform project which creates the shared vpc so we also can have control of the range. When we did this we also followed the strict naming fo the range according to the pattern `google-managed-services-[VPC

[2020-02-14 12:52] shazzzzam commented on #422
According to this reference the name of the range needs to follow the pattern `google-managed-services-[your network name]`: https://cloud.google.com/vpc/docs/configure-private-services-access#considerations
f

[2020-02-14 14:11] shazzzzam opened #506 "Use already existing google-managed-services range for private sql access"
We use a shared VPC which already has a google-managed-services range peered to the VPC.
When using `cloudsql_private= true` the terraform wants to create and peer a new range.

See:
https://github.com/forseti-security/terraform-google-forseti/blob/1c1c1ea22335a369b2349bb8f8851ecf85bc6dbe/modules/cloudsql/main.tf#L43
https://github.com/forseti-security/terraform-google-forseti/blob/1c1c1ea22335a36

[2020-02-14 14:18] shazzzzam opened #507 "Range allocated for private sql access is not named according to spec."
According to: https://cloud.google.com/vpc/docs/configure-private-services-access#considerations

The range needs to be named according to the pattern: `google-managed-services-[VPC_NETWORK_NAME]`

Currently it's named:
https://github.com/forseti-security/terraform-google-forseti/blob/1c1c1ea22335a369b2349bb8f8851ecf85bc6dbe/modules/cloudsql/main.tf#L46

When I've tested before, gcp automatically

[2020-02-14 14:22] shazzzzam commented on #506
My suggestion is to remove the above mentioned resources. According to the documentation gcp will automatically create a range for you if you haven't already created one manually.

If someone wants to create the range manually they will be free to do so outside of this module.

[2020-02-14 14:24] shazzzzam commented on #507
As mentioned in #506 I suggest to remove the range creation and peering from the module altogether. This should allow the range to be created automatically and also open up for the option of manually creating the range outside of the module.

[2020-02-14 15:57] gkowalski-google commented on #505
Yes, sorry for that issue between v2.25.0 and master. We began working on the v2.25.0 release last year, but ran into some issues which are mostly resolved. We are still working to ensure the GKE examples work with recent provider/module versions, and doing a little more testing around the new Org Policy and Access Policy resources. We typically create the tag during the release testing phase, and

[2020-02-14 19:49] choonchernlim commented on #505
@gkowalski-google No worries, and thank you for the progress updates. Given the complexity of this module, I reckon it's a lot of work to keep the ducks in a row. Meanwhile, if I find other "low hanging fruit" problems, I'll continue to open the issues. At the same time, if you need help to fix them, I don't mind contributing as well.

[2020-02-14 19:49] #505 closed

[2020-02-17 11:07] shazzzzam opened #509 "Access denied to cloud sql from startup-script on forseti server."
Terraform-google-forseti version 5.1.2
Terraform version "v2.24.1"

The forseti server fails during the startup script when running:
`python3 $USER_HOME/forseti-security/install/gcp/upgrade_tools/db_migrator.py`

Error message:
[code]

I'm using `cloudsql_private = true`

[2020-02-17 16:42] red2k18 commented on #484
@mmohammedirfan I'm closing this issue as we do not have enough information to look into this. Please feel free to reopen this issue with more details. Thank you!

[2020-02-17 16:42] #484 closed

[2020-02-18 16:27] red2k18 commented on #501
@choonchernlim Thanks for reporting the issue and proposing the solution. Would you be so kind to submit a PR for this?

[2020-02-18 16:31] choonchernlim commented on #501
@red2k18 I'll do that.

By the way, do we want both `rules/` and `policy-library/` empty dirs created?

Right now, if config validator is also enabled, we will get this message, but it won't cause Forseti from starting up:-
[code]

Do you want just `rules/` empty dir created? Thanks.

[2020-02-18 16:37] red2k18 commented on #501
@choonchernlim Thanks for being willing to contribute.

Let's address the issue that is preventing Forseti service from starting in this PR i.e the missing `rules/`. I really appreciate you checking on this.

[2020-02-18 16:38] choonchernlim commented on #501
Sounds good. I'll add just `rule/` empty dir for now. Will PR in the coming days.

[2020-02-18 18:36] gkowalski-google commented on #501
Thanks @choonchernlim! While adding an empty dir will stop the error from happening in the startup script, if users set manage_rules_enabled to false and do not provide any rules (and they aren't intending to only use Config Validator), then nothing will be scanned for. This might create some confusion and a false sense of security. I understand the use case though. Can you also add in some loggin

[2020-02-18 19:41] choonchernlim commented on #501
@gkowalski-google  Yes, I can try adding some logging in the startup script to reflect that.

By the way, I think there are 2 ways to fix this error.

One is to introduce an empty `rules/` dir, like what I suggested above.

Another is to **only execute** `gsutil cp -r gs://${storage_bucket_name}/rules ${forseti_home}/` if `rules/` dir exists in the startup script. I'm not sure if that will truly f

[2020-02-18 20:06] choonchernlim opened #510 "The purpose of `ping` in the startup script?"
Given that my institution requires all VM egress communications to be blocked by default, I'm trying to figure out what egress firewall rules (with higher priority number) are needed for the Forseti installation to be successful and make some justifications for them.

What's the primary reason for this `ping` test in the startup script?

[code]

It seems like even if the ping fails against `google

[2020-02-18 20:12] gkowalski-google commented on #510
Hi @choonchernlim, that was recently added for the GCE deployment so that users can deploy Forseti privately(with Cloud NAT) and allow for Forseti to get fully installed (e.g. Ubuntu patches, Forseti dependencies, Forseti itself, etc.), and then remove the NAT so Forseti had not outside access. Previously when people did this Forseti would always get deleted on Startup, but if the VM did not have

[2020-02-18 20:20] gkowalski-google commented on #501
I think my preference is on the former, to create an empty rules dir. The reason is that if a user chooses to manage their rules, then how will they get them to the server? Leaving the GCS "sync" option means they can copy their custom rules to the GCS bucket. Otherwise they will need to copy them to the server using SCP or something.

Can you elaborate some on what is the intended use case?

[2020-02-18 21:13] choonchernlim commented on #501
For my institution, we are separating Forseti provisioning and rules/policies management into 2 steps.

As part of the IaC team, I'm responsible in provisioning Forseti with `manage_rules_enabled=false` and `config_validator_enabled=true`. This will create a GCS bucket with no rules and policies, but the server VM will be running and it will be connected to CSCC.

Then, there is a security team wh

[2020-02-18 21:25] choonchernlim commented on #510
Does Forseti need outside communications **only for** completing the installation on VM startup?

Given our VM blocks all egress communications by default, I had to open TCP 22, 80, 443 and ICMP for the installation to be successful.

My security team analyzed the VPC flow log and I was told they are seeing outside communications even after the installation has completed on VM startup. I can't con

[2020-02-18 21:35] gkowalski-google commented on #510
I don't believe it's documented anywhere what are all the external sources are, but assuming you are using a VPC then it should be able to access all of the private Google APIs. However, there are other known external sources:

- Blacklist scanner (if enabled)
- Notifier: depending on which options are enabled, then it will need external access. For example, if you want Forseti to notify violation

[2020-02-18 21:46] gkowalski-google commented on #420
@jenshonkan84 Were you able to resolve this issue? FYI the next release of Forseti (Forseti terraform module 5.2.0) will support Google provider versions ~> 3.7.

[2020-02-19 00:26] choonchernlim commented on #510
Looking at the generated `forseti_conf_server.yaml`, I see the following scanners enabled:-

- bigquery
- blacklist (_identified as an external resource_)
- bucket_acl
- config_validator
- cloudsql_acl
- firewall_rule
- group
- groups_settings
- iam_policy
- iap
- instance_network_interface
- ke_version_scanner
- kms_scanner
- location
- log_sink
- resource
- service_account_key

Given the above l

[2020-02-19 15:56] gkowalski-google commented on #460
@gingersnapz Can you provide any of the error messages that you get from the git-sync container?

[2020-02-19 15:57] gkowalski-google commented on #510
I believe that is correct about the blacklist scanner; the other scanners rely on data collected by Google APIs. GCS and CSCC should not need egress either.

[2020-02-19 16:06] #403 closed

[2020-02-19 18:51] xingao267 opened #511 "Certain scanners does not have enable/disable flag."
The following yamls/scanners that are included in the `modules/rules/templates/` seem does not have corresponding `_enable` attributes in the module so I can turn on and off the API calls.
[code]

[2020-02-19 23:07] choonchernlim opened #513 "error: idna 2.9 is installed but idna<2.9,>=2.5 is required by {'requests'}"
I'm starting to see this error in the log on VM startup this afternoon:-

[code]

`idna v2.9` was released a few days ago after one+ year hiatus: https://pypi.org/project/idna/#history

It causes the startup script to halt abruptly and Forseti service stops running.

It was working fine this morning.

Is there a way to pin this transitive dependency?

CC'd @xingao267 for awareness.

[2020-02-19 23:10] xingao267 commented on #513
It looks like idna should be pinned to a specific version, e.g. 2.8 here https://github.com/forseti-security/forseti-security/blob/master/setup.py#L35

[2020-02-19 23:13] xingao267 commented on #513
Seems was pinned as https://github.com/forseti-security/forseti-security/pull/1755/files but at some point it's gone.

[2020-02-19 23:17] xingao267 commented on #513
idna 2.9 was released Feb 17
https://pypi.org/project/idna/

On Wed, Feb 19, 2020 at 6:07 PM Choon-Chern Lim (Mike) <
notifications@github.com> wrote:

[2020-02-21 18:37] choonchernlim opened #514 "Can't connect to MySQL server on '127.0.0.1'"
@gkowalski-google , I'm currently experimenting blocking egress FW rules to see if I'm able to disable EGRESS after a successful Forseti installation on VM startup instead of removing NAT.

First, because my VPC has all EGRESS blocked by default (`0.0.0.0/0, egress, deny, all`), I have this FW rule (`0.0.0.0/0, egress, allow, tcp 22,80,443 and icmp`), which allows Forseti to install properly on VM

[2020-02-21 18:50] gkowalski-google commented on #514
Hi @choonchernlim, Forseti is using Cloud SQL proxy to connect to the Cloud SQL instance. The proxy is running locally as a service. Is the proxy service running? `sudo systemctl status cloudsqlproxy`. Is the deny all FW rule blocking the access to the loopback address?

[2020-02-21 18:59] choonchernlim commented on #514
In theory, when the VM restarts, it should restart all necessary services itself even after I block TCP 22,80,443 and ICMP.

Here's the current FW rules:-

![Screen Shot 2020-02-21 at 12 53 51 PM](https://user-images.githubusercontent.com/6835135/75063031-99841d80-54a9-11ea-8664-04b00a69b03a.png)

Given these rules, I don't think it should block loopback address from server VM.

Can you verify?

T

[2020-02-21 20:55] choonchernlim commented on #514
@gkowalski-google  `cloudsqlproxy` ran but `forseti` failed.

[code]

[2020-02-21 21:44] #458 closed

[2020-02-21 21:49] gkowalski-google opened #515 "Add tests for on GKE end-to-end example"
## Story
Add automated tests for the on GKE end-to-end example.

## Proposed Solution
Assert the cluster is running, is regional, uses public nodes, has expected node count, and check that all pods are healthy. Test client can connect to server and test cron job.

[2020-02-22 00:22] choonchernlim commented on #510
Thank you for the info. For now, I can get it working by disabling ICMP.

[2020-02-22 00:22] #510 closed

[2020-02-22 00:23] #501 closed

[2020-02-22 01:43] choonchernlim commented on #514
@gkowalski-google This is due to my lack of familiarity with Cloud SQL proxy (sorry), but does it require `0.0.0.0/0, egress, allow, tcp 443` for it to work? After a successful installation, I started blocking each port (22, 80 and 443) and I found out that TCP 443 is needed for Forseti service to run properly on VM restart. Thank you.

[2020-02-22 03:15] gkowalski-google commented on #514
@choonchernlim I can look into this next week after I get the patches released.

[2020-02-24 10:26] nobmizue-jcloudce opened #516 "Forseti server vm's startup script failed because of idna==2.9"
$ terraform inint
$ terraform plan
worked without errors.
After executing "$ terraform apply", there are no forseti server process running on forseti VM.
Ssh server vm and cat /var/log/syslog is like follows.
It seems startup script exited with error code 1.
...
INFO startup-script: error: idna 2.9 is installed but idna<2.9,>=2.5 is required by {'requests'}
INFO startup-script: Return code 1.
INFO

[2020-02-24 14:58] gkowalski-google opened #517 "Forseti Terraform module release 5.0.2"
## Story
A new version of Forseti v2.23.2 is being released to address the IDNA issue. Release a patch version of the Forseti TF module to target this release.

[2020-02-24 15:42] gkowalski-google commented on #516
Hi @nobmizue-jcloudce, sorry for the issue. This has been resolved with a [PR of the master branch of Forseti](https://github.com/forseti-security/forseti-security/pull/3654). What version of the Terraform module are you using? We will be releasing patches for Forseti 2.23 (TF 5.0) and 2.24 (TF 5.1) this week.

[2020-02-24 17:41] choonchernlim commented on #514
@gkowalski-google I received confirmations from other Googlers that `tcp 443` is needed by Cloud SQL for it to work. I'm going to go ahead and close this. Thank you.

[2020-02-24 17:41] #514 closed

[2020-02-24 17:50] gkowalski-google commented on #514
Awesome, thanks for digging into that, glad you got it resolved!

[2020-02-24 17:55] choonchernlim commented on #514
We are looking into ways to limit this Cloud SQL egress traffic to prevent possible data exfiltration, and assuming the option is viable and can be cleanly done, I'll consider upstreaming it to CFT.

[2020-02-24 21:28] #517 closed

[2020-02-24 21:30] gkowalski-google opened #519 "Forseti Terraform module release 5.1.3"
## Story
A new version of Forseti v2.24.2 is being released to address the IDNA issue. Release a patch version of the Forseti TF module to target this release.

[2020-02-24 21:32] gkowalski-google commented on #516
@nobmizue-jcloudce Forseti 2.23.2 has been released. You can deploy this using the Forseti Terraform module 5.0.2.

[2020-02-25 03:41] red2k18 opened #521 "Add input variable to turn on/off retention scanner"
Add input variable to turn on/off [retention scanner](https://forsetisecurity.org/docs/latest/configure/scanner/descriptions.html#retention-scanner).

[2020-02-25 03:44] red2k18 opened #522 "Add input variable to turn on/off Role scanner"
Add input variable to turn on/off [Role scanner](https://github.com/forseti-security/forseti-security/blob/master/samples/scanner/scanners/role_rules.yaml).

[2020-02-25 03:48] red2k18 opened #523 "Add input variable to turn on/off retention scanner"
Add input variable to turn on/off [retention scanner](https://github.com/forseti-security/forseti-security/blob/master/samples/scanner/scanners/retention_rules.yaml).

[2020-02-25 20:31] rux616 opened #527 "Unable to deploy using GKE end-to-end example as module"
### Story
As per the [Forseti docs for deploying on GKE](https://forsetisecurity.org/docs/latest/setup/forseti-on-gke.html), I attempted to use the GKE end-to-end example as a module but ran into the following errors:
[code]

While troubleshooting this, my colleague and I noticed something interesting, specifically, that the version constraints weren't being honored. Functionally, this meant that

[2020-02-25 21:17] #519 closed

[2020-02-25 21:27] gkowalski-google commented on #527
Hi @rux616, thanks for submitting this issue. We are still in the process of updating the GKE modules, example and documentation. I have recently updated the [GKE end-to-end example](https://github.com/forseti-security/terraform-google-forseti/tree/master/examples/on_gke_end_to_end) to use more recent versions of the core providers (e.g. Google/Helm/Kubernetes providers, and newer versions of the

[2020-02-25 21:41] gkowalski-google commented on #516
@nobmizue-jcloudce Forseti 2.24.2 has been released now as well, which can be deploy using Forseti Terraform module `~> 5.1.0` or `5.1.3`. Let me know if that resolves the issue for you.

[2020-02-26 20:19] gingersnapz opened #528 "No firewall rules for egress traffic"
All egress traffic in GCP is allowed implicitly. Best practice typically requires a default deny egress firewall rule that would catch any unauthorized traffic leaving the compute resource. There currently is only a default deny rule for ingress traffic.

[2020-02-28 17:58] hshin-g opened #549 "Update Config Validator Image Tag"
## Story
The policy-library repo was [recently updated](https://github.com/forseti-security/policy-library/pull/279) to use opa v0.17.2 (from v0.16.0) in order to utilize features in Rego constraints that were not available in older versions.

The Config Validator executable in Forseti was [last updated 5 months ago](https://github.com/forseti-security/config-validator/blame/0f0cf060905aa82bf4dbd6

[2020-03-04 13:24] jmg87 commented on #516
Hey, I can confirm with module version 5.1.3 seems to work. At least the startup script runs successfully and the forseti service starts.

For anybody getting here from the install docs, this is what to pull:

` git clone --branch modulerelease513  --depth 1 https://github.com/forseti-security/terraform-google-forseti.git  `

[2020-03-04 18:06] kevensen opened #533 "Clean-up Test Org IAM Policies"
# Story
Occasionally the Terraform test org reaches the IAM policy maximum of 1,500 policies.  This causes integration tests to not run.

# Proposed Solution
Create an equivalent mechanism to what is in place to cleanup the [projects](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/tree/master/infra/terraform/test-org/test-cleanup).

# Tasks
- [ ] Create a function to cleanup the O

[2020-03-04 19:28] dekuhn commented on #312
Nice to have; Closing if we get customer feedback and there is enough interest in making mailjet work on GKE we can re-open this issue.

[2020-03-04 19:28] #312 closed

[2020-03-04 21:42] gkowalski-google commented on #528
Thanks for submitting the issue @gingersnapz. There has been some work recently to capture the various egress sources of traffic from the Forseti server VM. This might not be a complete list, but hope it helps. Thanks to @xingao267 for this work!

There has been some talk to provide an example in the Terraform repo that would make Forseti private by default and have some of these other best practi

[2020-03-04 21:51] xingao267 commented on #528
@gingersnapz we have this use case as well where we put a default deny-all egress rule for any IP and protocols. We are planning to upstream an example to illustrate how to set that up with additional firewall rules, private zone, DNS record and Routes.

@gkowalski-google for the going scanning job, there is one more egress traffic which is CSCC notification if enabled.

[2020-03-04 21:56] gkowalski-google commented on #528
Thanks, updated to include the Blacklist scanner, and CSCC/GCS notifier options.

[2020-03-06 17:35] gkowalski-google commented on #448
This is an interesting idea, thanks @umairidris. With a new input (e.g. cai_only_mode), we could:

- disable all API polling
- reduce the roles granted to server SA to those only needed for CAI data
- possibly disable all scanners other than CV (this could also be another input)
- update helper scripts to reduce roles required by the TF deployment SA (this would not be directly related to the inpu

[2020-03-06 21:20] #247 closed

[2020-03-09 11:14] #440 closed

[2020-03-09 21:05] gkowalski-google commented on #298
This should be resolved with the [latest on GKE end-to-end example](https://github.com/forseti-security/terraform-google-forseti/blob/master/examples/on_gke_end_to_end/main.tf#L86) using GKE TF module 7.2.0. Has not been encountered recently, re-open if necessary.

[2020-03-10 23:09] red2k18 opened #544 "Add support to control config validator image"
Add support to control Config Validator image. This is needed to run the docker command to run the Config Validator instead of the static binary.

[2020-03-10 23:11] red2k18 opened #545 "Add support to control Config Validator image tag"
Add support to control Config Validator image tag. This is needed to run the docker command to run the Config Validator instead of the static binary.

[2020-03-10 23:12] #544 closed

[2020-03-11 01:16] #545 closed

[2020-03-11 22:37] xingao267 commented on #243
I'm taking a stab at adding this support.

[2020-03-12 19:52] gingersnapz commented on #460
`main.go:299] "msg"="unexpected error syncing repo, will retry" "error"="error running command: exit status 128: \"Cloning into '/tmp/git'...\\nfatal: Could not read from remote repository.\\n\\nPlease make sure you have the correct access rights\\nand the repository exists.\\n\"" " `

I've added the SSH key that Forseti generates to the source repo and my repo url follows the format that I've com

[2020-03-12 20:02] xingao267 commented on #494
Just wondering what's the latest ETA for this? And please include https://github.com/forseti-security/terraform-google-forseti/pull/546 in the release.

[2020-03-12 21:54] #243 closed

[2020-03-13 20:42] xingao267 opened #547 "Server VM startup script will always halt after restart/reset when internet connection is disallowed post installation."
The current startup script uses `ping` to test internet connectivity and when the connectivity is `offline`, it will keep the `forseti-security/` folder at home directory. This will always cause the following command [here](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_server_startup_script.sh.tpl#L53) to fail to ha

[2020-03-16 20:06] gkowalski-google opened #548 "Upgrade Helm Provider to use Helm 3"
## Story
The GKE module uses Helm 2, and a [Helm 3 provider](https://github.com/terraform-providers/terraform-provider-helm/releases/tag/v1.0.0) was released in February 2020. In order to add GKE tests, this is required.

## Proposed Solution
- Upgrade any related Helm logic for Helm 3 (e.g. no more tiller)
- Provide a migration plan/script if necessary

## Acceptance Criteria
- Since GKE tests ca

[2020-03-16 20:09] gkowalski-google commented on #515
This work is mostly complete, however it is blocked from running successfully due to a bug with Helm 2. Upgrading to Helm 3 will resolve. Here is the branch where the tests reside: https://github.com/forseti-security/terraform-google-forseti/tree/feature/add-gke-tests

[2020-03-16 20:35] #516 closed

[2020-03-16 20:55] gkowalski-google commented on #409
Hi @potsec, sorry we haven't gotten to this. This is a good change and we would happily review any PRs to to add this.

[2020-03-16 21:44] #254 closed

[2020-03-17 05:29] gkowalski-google opened #551 "Move shared controls to shared directory"
## Story
Several of the test fixtures use the same controls, and are linked to files in the install_simple example. The test fixtures should all run some smoke tests for the Forseti app, and some fixtures do not have any tests if Forseti is working (they test the infrastructure).

## Proposed Solution
It would be easier to understand which controls are shared by moving them to a /integration/share

[2020-03-18 16:43] red2k18 opened #553 "Investigate and remove forseti_env.sh script"
Investigate and remove [forseti_env.sh](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_env.sh.tpl) script.

[2020-03-19 20:34] #494 closed

[2020-03-19 21:15] xingao267 commented on #494
@choonchernlim FYI

[2020-03-20 13:55] choonchernlim opened #554 "Nested `policy-library` dir in server VM"
We are seeing several nested `policy-library` dir created under `/ubuntu/home` in the server VM... I think this maybe the root cause of the problem...

From Forseti module, the policy library home is set to `$USER_HOME/policy-library`.
https://github.com/forseti-security/terraform-google-forseti/blob/master/variables.tf#L534-L537
[code]

This value is made available to VM startup script as `POLICY

[2020-03-20 16:05] xingao267 commented on #511
role scanner can be disabled since https://github.com/forseti-security/terraform-google-forseti/pull/526

[2020-03-20 16:24] gkowalski-google commented on #554
Hi @choonchernlim. It is expected that there are only 2 `policy-library` dirs. The policy library home defaults to /home/ubuntu/policy-library. The reason that there is another policy-library dir is that the home dir is where the policy-library gets cloned into, which creates the 2nd policy-library dir. Then under that, we have the main content.

I just re-ran terraform apply using master branch a

[2020-03-20 16:27] #522 closed

[2020-03-20 16:30] gkowalski-google commented on #511
Hi @xingao267, there is a ticket to enable/disable the retention scanner: https://github.com/forseti-security/terraform-google-forseti/issues/521.

The external project access scanner does not get run by the forseti scanner run command because it can take a very long time to complete. If you want to run this scanner, then it has to be run manually:
[code]

Since we have a ticket for the retention

[2020-03-20 16:33] choonchernlim commented on #554
Per @xingao267 , his gut feel is I ran the initial provisioning with `config_validator_enabled=true` and since GCS doesn't have `policy-library` dir yet, it fails and causes some inconsistent state. Xin, please correct me if I'm wrong.

So, we talked about running the initial provisioning with `config_validator_enabled=false`, copy the policies into GCS and reprovision with `config_validator_enabl

[2020-03-20 16:42] gkowalski-google commented on #554
I typically deploy using the git-sync feature for the policy library:
[code]

If you are using GCS for policy storage, then it will attempt to sync the policies from GCS to the server VM. However if that dir does not exist on GCS, then it will [gracefully fail](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_server_st

[2020-03-20 17:09] xingao267 commented on #554
I just verified that so config-validator service will [try to start](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_server_startup_script.sh.tpl#L150) no matter whether `config_validator_enabled` is set to `true` or `false` . We can probably improve that, but it is fine. The service will fail to start. However, the c

[2020-03-20 18:00] xingao267 commented on #511
@gkowalski-google thanks for the explanation, sgtm.

[2020-03-20 18:00] #511 closed

[2020-03-20 18:50] choonchernlim commented on #554
I'm going to close this until I hear back from the security team again. Thanks.

[2020-03-20 18:50] #554 closed

[2020-03-20 22:23] rux616 opened #576 "Prior rules/constraints not removed if bucket object deleted"
**Forseti version:**
v2.24.2

**Module:**
None

**Deployment Method:**
Terraform (module version v5.1.3)

**Issue:**
When using the config validator or custom rules, if constraints/rules are deleted from the bucket, they do not get deleted from the server. For example, let's say I had a constraint at `gs://${SCANNER_BUCKET}/policy-library/policies/constraints/forbid-thing-x.yaml` which has been ar

[2020-03-25 16:08] gkowalski-google commented on #527
Hi @rux616, Forseti v2.25.0 was released last week including some changes for the Forseti on GKE examples. There is a [bug in Helm 2](https://github.com/helm/helm/issues/6361) which might pop up during your initial terraform apply; re-running Terraform apply should work. There is an issue to [upgrade to Helm 3](https://github.com/forseti-security/terraform-google-forseti/issues/548), but no ETA on

[2020-03-25 16:08] #527 closed

[2020-03-26 18:02] gkowalski-google opened #556 "Enable CV scanner by default"
## Blocked By
- Rego templates
    - [BQ sample policy](https://github.com/forseti-security/policy-library/issues/314)
    - [CloudSQL World Readable policy](https://github.com/forseti-security/policy-library/pull/232)
    - [Firewall sample policy](https://github.com/forseti-security/policy-library/issues/316)
    - [GKE Version policy](https://github.com/forseti-security/policy-library/issues/26

[2020-03-26 19:14] gkowalski-google opened #557 "Upgrade automated tests to use Terraform 0.12.20"
## Story
With the v6.0.0 module release, the Forseti module will be tested against TF 0.12.20 and the team will not support using the module with versions < 0.12.20.

## Solution
Update the tests to use TF 0.12.20, which is tag version `0.7.5` of the dev tools image. Update any documentation.

[2020-03-27 14:58] #310 closed

[2020-03-27 22:56] gkowalski-google opened #558 "Server error during startup for run_forseti.sh"
## Story
The server startup script has an error [attempting to chmod +x for the old/deleted run_forseti.sh](https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/server/templates/scripts/forseti-server/forseti_server_startup_script.sh.tpl#L87) script.

[code]

## Proposed Solution
Remove the run_forseti.sh script from line 87 since the exec permission is granted [here](h

[2020-03-30 18:35] #558 closed

[2020-03-30 20:57] gkowalski-google commented on #528
@gingersnapz There is some work going on to provide an example of a fully private deployment. This will add an option to block public egress.

[2020-03-31 18:32] hshin-g opened #561 "[PATCH] Forseti Terraform module release v5.2.1"
A new version of Forseti v2.25.1 is being released to fix method calls for organization policies on Forseti Security repo (Issue [#3709](https://github.com/forseti-security/forseti-security/issues/3709).

Release a patch version of the Forseti TF module to target this release from v5.2.0.

Related to Forseti Security Issue [#3716](https://github.com/forseti-security/forseti-security/issues/3716).

[2020-03-31 21:47] #551 closed

[2020-04-01 15:36] gkowalski-google commented on #298
[This PR](https://github.com/forseti-security/terraform-google-forseti/pull/541) contains a fix for this issue.

[2020-04-03 20:21] #561 closed

[2020-04-03 21:53] #549 closed

[2020-04-08 15:22] red2k18 commented on #438
Do we want to lock down the micro version of these providers?

[2020-04-08 15:25] red2k18 commented on #438
Yes, there are more! `http`, `tls` providers can also be included to the list of providers.

[2020-04-08 17:10] red2k18 commented on #557
Do we want to lock down Terraform version 0.12.20?

[2020-04-08 17:29] red2k18 commented on #557
Locking down to TF version 0.12.20 gives the below error on my local. So, might want to upgrade the dev tools version without locking down the version to 0.12.20.

![image.png](https://images.zenhubusercontent.com/5d02d4eb534f7a09c8e7f0ae/90d9a3d6-49e8-4cb9-860b-09c96ead88e7)

[2020-04-08 18:26] gkowalski-google opened #570 "Builds on master branch are failing due to forseti.rb control"
## Story
Builds are currently failing due to these errors:
[code]

[code]

[Sample build log](https://pantheon.corp.google.com/cloud-build/builds/02783b4f-7f27-4022-b698-b6b271994b88;step=3?project=cloud-foundation-cicd).

[2020-04-09 18:06] gkowalski-google commented on #556
No longer going to enable CV by default.

[2020-04-09 18:06] #556 closed

[2020-04-09 18:42] red2k18 commented on #570
Discussed findings in Story Time meet. In short, it seems to me that there is an issue on the backend.

[2020-04-14 18:18] gkowalski-google opened #571 "Implement default policy bundle"
## Story
To support enabling CV by default and migrating some Forseti scanner functionality to CV, provide a default set of policies to match the default rules deployed with Forseti:
- BigQuery
- CloudSQL
- Firewall
- IAM
- KMS
- Kubernetes version
- Service Account Key

## Proposed Solution
Use policy library kpt function to get bundle, then move into policy library home, and apply constraint tar

[2020-04-14 18:19] red2k18 commented on #420
@jenshonkan84 Were you able to resolve this issue? If not, could you please try to install/upgrade to the latest Forseti version v2.25.0 (Terraform module v5.2.1) and report errors, if any?

[2020-04-15 15:14] #570 closed

[2020-04-16 16:44] red2k18 commented on #509
@shazzzzam Are you still experiencing this issue? I just deployed Forseti with the same configuration and startup script completed successfully.

[2020-04-16 17:24] red2k18 commented on #422
@shazzzzam Thanks for your patience! We patched v2.25.0 and so this issue should now be fixed. Do you mind deploying v2.25.1 with Forseti Terraform module v5.2.1 by following the instructions [here](https://forsetisecurity.org/docs/latest/setup/install/index.html#how-to-deploy)? Thanks!

[2020-04-17 05:33] #438 closed

[2020-04-17 16:41] red2k18 opened #575 "`default` VPC network is not being created"
It seems to the user that "default" VPC network is hardcoded for some of the forseti components, but it is not created by terraform. User says that default VPC network needs to be created in order to run it successfully.

[2020-04-19 17:26] #141 closed

[2020-04-19 18:26] #212 closed

[2020-04-19 19:26] #249 closed

[2020-04-19 20:26] #396 closed

[2020-04-19 21:26] #410 closed

[2020-04-19 22:26] #506 closed

[2020-04-20 14:41] red2k18 commented on #420
Please feel free to reopen this issue if you're still seeing this error.

[2020-04-20 14:41] #420 closed

[2020-04-20 14:44] red2k18 commented on #422
Please feel free to reopen this issue if you're experiencing any issue.

[2020-04-20 14:44] #422 closed

[2020-04-20 21:47] red2k18 commented on #509
Please feel free to reopen the issue if you are experiencing any issues.

[2020-04-20 21:47] #509 closed

[2020-04-20 22:23] red2k18 commented on #575
`default` VPC network is not hardcoded. [Forseti network and subnetwork need to be created in the host project for shared VPC deployment](https://github.com/forseti-security/terraform-google-forseti/blob/master/test/setup/main.tf).

[2020-04-20 22:23] #575 closed

[2020-04-22 20:26] #572 closed

[2020-04-23 00:36] annademidova opened #578 "Update README to reference helpers, not scripts folder for the cleanup script"
Cleanup instructions reference `scripts` folder which doesn't exist. Please switch to use `helpers` folder and, ideally, keep the commands consistent with the setup script:

`. ./helpers/cleanup.sh -p PROJECT_ID -o ORG_ID -s cloud-foundation-forseti-<suffix>`

and several lines below:

`. ./helpers/cleanup.sh -p PROJECT_ID -o ORG_ID -s cloud-foundation-forseti-<suffix> -e`

Cheers!

[2020-04-28 20:55] ucantravel opened #579 "googleapi: Error 400: Master version "1.14.10-gke.17" is unsupported"
I'm trying to deploy using the provided terraform scripts, but I get this error:
There is no specific version specified in the code, so I am not sure how it gets to use this version.

Error: googleapi: Error 400: Master version "1.14.10-gke.17" is unsupported., badRequest

  on .terraform/modules/forseti-on-gke.gke/terraform-google-kubernetes-engine-7.2.0/modules/beta-public-cluster/cluster.tf lin

[2020-04-30 21:38] gkowalski-google commented on #579
Hi @ucantravel, sorry for that issue. That version was the default version when the last release went out. If you are following the on-gke-end-to-end example, you can try using a different version [here](https://github.com/forseti-security/terraform-google-forseti/blob/master/examples/on_gke_end_to_end/variables.tf#L137). I recently updated my cluster to use version `1.15.11-gke.9` and that worked

[2020-05-01 00:01] ucantravel commented on #579
Much appreciated pointing me in the right direction!

[2020-05-04 00:21] #375 closed

[2020-05-04 01:21] #289 closed

[2020-05-04 02:21] #274 closed

[2020-05-04 04:21] #281 closed

[2020-05-04 05:21] #179 closed

[2020-05-04 06:21] #7 closed

[2020-05-04 07:21] #311 closed

[2020-05-04 08:58] #370 closed

[2020-05-04 11:13] #327 closed

[2020-05-04 12:13] #358 closed

[2020-05-04 16:08] #150 closed

[2020-05-04 16:50] #557 closed

[2020-05-05 21:04] rajcheval commented on #506
I ran into a related issue. We were not using shared VPC but an existing VPC.
We want to use private Cloud SQL.
Networking is configured by a different team they allocated  IP address range for us.
They also enabled service networking.
We are setting the variable "cloudsql_private" to true
Setting enable_service_networking to false
The cloud SQL module tries to allocate global address. It is only

[2020-05-05 23:13] #579 closed

[2020-05-07 19:38] #448 closed

[2020-05-11 22:56] #460 closed

[2020-05-15 05:58] Zhanglin2017 opened #583 "Deploy forseti with config-validator with only folder level permission"
Hi there,

I tried to install Forseti in GCP with only folder level permission.
Did anyone succeed or share some experience in this process?

Best

[2020-05-15 16:45] #285 closed

[2020-05-15 23:45] #409 closed

[2020-05-16 00:45] #548 closed

[2020-05-18 23:43] hshin-g commented on #583
Hi there,

We have a page here for non-org level installations: https://forsetisecurity.org/docs/latest/configure/general/non-org-root.html. What errors did you run into during deployment?

[2020-05-19 19:38] #521 closed

[2020-05-20 23:50] hshin-g commented on #578
This has already been addressed in the README- closing.

[2020-05-20 23:50] #578 closed

[2020-05-21 22:30] gkowalski-google commented on #571
Changes have been pushed to feature branch where this change is almost complete, along with tests. Just need to wait for kpt release and then uncomment the lines to run the kpt setters.

[2020-05-29 23:20] #528 closed

[2020-05-30 00:57] #553 closed

[2020-05-30 01:57] #507 closed

[2020-05-31 16:51] #252 closed

[2020-06-04 21:44] lgudimella opened #584 "Forseti inventory scan slowness"
Forseti is taking a long time to run it's inventory (12+ hours). We are using the latest build on a n1-standard-8 GCE instance.
Our `main.tf` contains the following:

provider "google" {
  version = "~> 3.7"
}

provider "google-beta" {
  version = "~> 3.7"
}

provider "local" {
  version = "~> 1.4"
}

provider "null" {
  version = "~> 2.1"
}

provider "template" {
  version = "~> 2.1"
}

provider

[2020-06-05 23:20] #533 closed

[2020-06-06 00:27] hshin-g commented on #584
@lgudimella have you run Forseti before and had a different inventory time? What does your data look like, and how many resources are in your org? It has been noted that if you have a lot of nested resources (e.g. folders), it does take longer to scan through all of the resources, and the size of your inventory can also be a factor in this as well.